<ion-content padding>
  <div class="container">
    <div class="final-state-title">
      ¿Cómo te sentías al finalizar la vuelta?
    </div>
    <div class="options-container" [ngClass]="selected != undefined ? 'not-selected' : ''">
      <div class="question" *ngFor="let i = index; let option of options" tappable (click)="optionClicked(i)" [ngClass]="i == selected ? 'selected' : ''">
        <img src="{{option.img}}">
        {{option.text}}
      </div>
    </div>
    <div class="button-container" tappable (click)="dismissClicked()">
      No deseo completar mi estado ahora.
    </div>
  </div>
</ion-content>
