page-load-final-state {
  .content {
    background-color: rgba(0, 0, 0, .5);
    .scroll-content {
      display: flex;
    }
  }
  .container {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    height: fit-content;
    align-self: center;
    padding-top: 30px;
    text-align: center;
    overflow: hidden;
    .final-state-title {
      padding: 0 30px 10px;
      font-size: 24px;
      font-weight: bold;
      color: #333333;
      margin: 5px 0;
    }
    .options-container {
      padding: 10px 30px 40px;
      display: flex;
      flex-direction: row;
      .question {
        flex: 1;
        font-size: 8px;
        font-weight: 200;
        color: #666666;
      }
    }
    .not-selected {
      > div {
        opacity: .5;
      }
      .selected {
        opacity: 1;
      }
    }
    .button-container {
      background-color: #f9f9f9;
      color: #666666;
      font-weight: 200;
      font-size: 12px;
      border-top: 1px solid #eeeeee;
      padding: 24px;
    }
  }
}
