<ion-content padding-bottom>
  <ion-slides pager>
    <ion-slide class="onboarding-slide">
      <img class="slide-image" src="assets/imgs/onboarding/onboarding_1.jpg">
      <p class="slide-title">Cargá tus vueltas</p>
      <div class="slide-description">
        Cargá tus vueltas jugadas ingresando datos de la cancha, de cada hoyo y tu rendimiento en cada etapa.
      </div>
    </ion-slide>
    <ion-slide class="onboarding-slide">
      <img class="slide-image" src="assets/imgs/onboarding/onboarding_2.jpg">
      <p class="slide-title">Chequeá tus estadísticas</p>
      <div class="slide-description">
        Podés ver la comparación entre tu desepeño individual con el promedio general de todos nuestros usuarios.
      </div>
    </ion-slide>
    <ion-slide class="onboarding-slide">
      <img class="slide-image" src="assets/imgs/onboarding/onboarding_3.jpg">
      <p class="slide-title">Accedé a otros beneficios</p>
      <div class="slide-description">
        Buscá lugares de interés que estén cerca tuyo y utilizá nuestros cupones de descuentos para tus compras.
      </div>
    </ion-slide>
    <ion-slide class="onboarding-slide login-slide">
      <img class="slide-image" margin-bottom padding-horizontal src="assets/imgs/login-logo.png">
      <p class="slide-title">¡Iniciá sesión ahora!</p>
      <button ion-button block large color="clear" mode="ios" margin-bottom class="login-button" (click)="loginClicked()">
        INGRESAR CON MI CUENTA AG
      </button>
      <div class="shadow" margin-bottom>
        <div></div>
      </div>
      <div class="slide-description">
        Para utilizar la app de GPStats necesitás contratar el servicio desde nuestra plataforma central AG Servicios.
      </div>
      <button ion-button outline color="clear" mode="ios" margin-top class="signup-button" (click)="signupClicked()">
        REGISTRARME EN AG
      </button>
    </ion-slide>
  </ion-slides>
  <button ion-button clear color="clear" class="skip-button" [hidden]="slides.getActiveIndex() > 2"
          (click)="skipClicked()">OMITIR
  </button>
</ion-content>
