page-onboarding {
  .content {
    background: url("../assets/imgs/login-background.png") no-repeat;
    background-size: cover;
  }
  .onboarding-slide {
    color: white;
    font-size: 20px;
    align-items: flex-start;
    .slide-title {
      font-weight: bold;
      margin-top: 0;
      padding-left: 30px;
      padding-right: 30px;
    }
    .slide-description {
      font-weight: 200;
      font-size: .7em;
      padding-left: 30px;
      padding-right: 30px;
    }
    .login-button {
      color: color($colors, secondary);
      span {
        font-size: 14px;
        font-weight: bold;
      }
    }
    .signup-button {
      &.activated {
        color: color($colors, secondary);
      }
      span {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
  .login-slide {
    .slide-title {
      font-size: 1.2em;
    }
    .slide-zoom {
      padding: 30px;
    }
  }
  .shadow {
    position: relative;
    height: 1px;
    width: 100%;
    > div {
      position: absolute;
      width: 100%;
      height: 1px;
      background: radial-gradient(circle at center, white, rgba(255,255,255,0));
    }
  }
  .swiper-pagination-bullet {
    background-color: white;
  }
  .skip-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
  }
}
