<ion-header>
  <ion-navbar color="primary">
    <ion-title align="center">Términos y Condiciones de Uso</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" disabled>
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p><strong>ACEPTACION DE LAS CONDICIONES GENERALES DE CONTRATACION:</strong></p>
  <p>Estas Condiciones Generales de Contratación regulan la relación contractual por la que los usuarios de Internet
    acceden a los contenidos y servicios que&nbsp;ANDRES GOTTA GOLF&nbsp;(En adelante&nbsp;AGG) pone a su disposición a
    través de los sitios&nbsp;www.andresgotta.com.ar,&nbsp;(En adelante&nbsp;LOS SITIOS).</p>
  <p>El usuario debe haber leído las presentes Condiciones del Registro y Contratación y expresar su adhesión plena y
    sin reservas a todas y cada una de ellas. Asimismo, debido a que ciertos servicios y contenidos ofrecidos por&nbsp;AGG&nbsp;pueden
    contener normas específicas que reglamentan y complementan a las presentes Condiciones Generales de Contratación, se
    recomienda a los usuarios tomar conocimiento específico de ellas.</p>
  <p><strong>2. OBJETO:</strong>&nbsp;El objeto de las presentes Condiciones Generales de Registro y Contratación es la
    regulación de la relación entre los usuarios de Internet que accedan a&nbsp;LOS SITIOS&nbsp;y contraten servicios
    y/o adquieran productos a través de&nbsp;los mismos. Por lo tanto esto es UN ACUERDO SOBRE LOS DERECHOS DEL USUARIO
    FINAL de USO DE LICENCIA TEMPORAL DE SOFTWARE.-</p>
  <p>Haciendo clic en el botón "Acepto" durante la descarga, la instalación, la copia o la utilización del software,
    Usted declara su aceptación de las disposiciones y los términos del presente Acuerdo. Si no acepta alguna
    disposición de este Acuerdo, haga clic en el botón "Rechazar" o "No acepto", cancele la descarga o instalación. </p>
  <p><strong>3. PARTES CONTRATANTES:</strong>&nbsp;De una parte,&nbsp;ANDRES GOTTA GOLF&nbsp;con domicilio a estos
    efectos en la calle San Martin 1814 P1 Of. 3 Santa fe, República Argentina. Y de otra, cualquier persona física, de
    21 años en adelante, o jurídica, destinataria de los contenidos, productos y servicios de&nbsp;AGG&nbsp;a cambio de
    las contraprestaciones económicas que en cada caso se establecieran, según lo dispuesto en el presente Contrato y en
    las normas específicas que reglamentan y complementan a las presentes Condiciones Generales de Contratación.</p>
  <p><strong>4. CONTENIDOS DE LOS SITIOS:</strong>&nbsp;Los contenidos, servicios y productos a los que se refiere el
    objeto del presente contrato son todos los que se incluyen en&nbsp;LOS SITIOS&nbsp;a los que el usuario accede
    directamente desde dicha direccion. Los contenidos a los que el usuario accede mediante enlace desde LOS SITIOS&nbsp;se
    regirán por sus propias condiciones de registro y contratación. El acceso a cada contenido, servicio o adquisición
    de productos requerirá o no una contraprestación económica por parte del usuario en los términos establecidos en las
    propias condiciones de registro y contratación.</p>
  <p><strong>5. TARIFAS Y PAGOS:</strong>&nbsp;El usuario siempre conocerá el precio y la modalidad de contratación de
    cada producto o servicio en el momento en el que proceda a su adquisición, viniendo éstos determinados de manera
    clara en&nbsp;LOS SITIOS.&nbsp;AGG&nbsp;puede optar en cualquier momento por modificar las tarifas o términos de
    comercialización vigentes. En todo caso, siempre regirán para el usuario el precio y condiciones que vengan
    determinadas en el momento en que preste su consentimiento al contratar. El usuario que desee contratar el acceso a
    los contenidos y servicios de pago de&nbsp;AGG&nbsp;deberá abonar la tarifa correspondiente a través de los medios
    que a tal efecto se le indican en el website en cada momento. El cargo le será cobrado, tal como consta en las
    condiciones de cada producto, según el medio utilizado para el pago. Con carácter general, los cargos se realizarán
    al inicio de la contratación que realice el usuario.&nbsp;AGG&nbsp;no asume responsabilidad alguna por el medio de
    pago elegido por los usuarios. Los medios de pago son elegidos libremente por los usuarios, por lo que cada uno de
    ellos renuncia a efectuarle a&nbsp;AGG&nbsp;cualquier tipo de reclamo que tuviera algún tipo de relación con el
    medio de pago elegido. Asimismo, los usuarios reconocen que&nbsp;AGG&nbsp;se reserva el derecho a no brindar los
    servicios y entregar los productos que no hayan sido efectivamente cobrados, debido a la falta de pago de cualquiera
    de las empresas prestadoras de los medios de pago. Ello, independientemente que los usuarios hubieren efectivamente
    realizado el pago a través del medio de pago en cuestión. Si el usuario tiene alguna duda referente al pago, si se
    han producido modificaciones en el medio de pago empleado, si cree que alguien ha utilizado sus datos de pago
    indebidamente o que alguien ha accedido al producto que hubiera contratado en&nbsp;LOS SITIOS&nbsp;sin su
    consentimiento, deberá ponerse en contacto con el Centro de Atención al Cliente a través de los canales que se ponen
    a su disposición indicados en los dqistintos websites, según corresponda.</p>&nbsp;
  <p><strong>6. RENOVACION AUTOMATICA DE LA CONTRATACION:</strong>&nbsp;Andres Gotta Golf&nbsp;procederá a renovar
    automáticamente la contratación de los usuarios. Para evitar contrataciones no deseadas, los usuarios serán
    convenientemente informados con carácter previo a la renovación. Los usuarios podrán cancelar la renovación de la
    contratación con anterioridad a que la misma sea efectivizada.&nbsp;</p>
  <p><strong>7. CANCELACION DE LA CONTRATACION:</strong>&nbsp;El usuario podrá proceder a cancelar unilateralmente la
    contratación de servicios de&nbsp;AGG&nbsp;que hubiera realizado en&nbsp;LOS SITIOS, en cualquier momento durante la
    vigencia de la misma, para lo cual deberá comunicar su petición de forma clara e inequívoca al Centro de Atención al
    Cliente de AGG&nbsp;a través de los canales que a tal efecto se ponen a su disposición en cada uno de&nbsp;LOS
    SITIOS, según corresponda. No obstante lo anterior, y sin perjuicio de las implicaciones relativas al acceso del
    usuario a&nbsp;LOS SITIOS&nbsp;y al tratamiento de sus datos de carácter personal, dicha cancelación por el usuario
    no supondrá en ningún momento el reembolso de los importes que hubiera abonado como contraprestación para el acceso
    a los contenidos y servicios de&nbsp;AGG en cualquiera de sus modalidades de contratación. Dichos importes tienen
    carácter de no reembolsables.</p>
  <p><strong>8. RESTRICCIONES DE USO:</strong>&nbsp;8.1.- Se permite únicamente un uso personal e intransferible de las
    claves de acceso a&nbsp;LOS SITIOS. 8.2.- Todos los contenidos de&nbsp;LOS SITIOS&nbsp;pertenecen a&nbsp;AGG&nbsp;o,
    en su caso, a terceras personas y están protegidos por la legislación sobre propiedad intelectual. Ningún contenido
    de&nbsp;LOS SITIOS, cualquiera que sea su naturaleza, podrá ser publicado, emitido, retransmitido directa o
    indirectamente en ningún medio o soporte para uso distinto del estrictamente personal, sin contar con la
    autorización expresa de&nbsp;AGG. Por tanto, queda terminantemente prohibida su utilización con fines comerciales,
    su distribución, así como su modificación, alteración o descompilación. Tal como establece el Reglamento general de&nbsp;AGG&nbsp;los
    servicios y contenidos de&nbsp;LOS SITIOS&nbsp;son para uso exclusivo del usuario registrado y no pueden ser
    divulgados ni cedidos a terceros. 8.3.- El usuario, en función de su modalidad de contratación, podrá disponer de
    dichos contenidos e imprimirlos para uso estrictamente personal, no comercial. Al acceder a&nbsp;LOS SITIOS&nbsp;el
    usuario acepta no vender, no publicar, no distribuir, no retransmitir ni facilitar ningún acceso a los contenidos a
    terceros. 8.4.- El usuario acepta no utilizar&nbsp;LOS SITIOS&nbsp;para ningún propósito ilegal.&nbsp;AGG&nbsp;se
    reserva el derecho de restringir o cancelar el acceso a&nbsp;LOS SITIOS&nbsp;si, en su opinión y a su conocimiento
    efectivo del hecho, el usuario utiliza&nbsp;LOS SITIOS&nbsp;para infringir alguna ley, violar derechos de terceros o
    incumplir las presentes condiciones de contratación. En caso de producirse descargas masivas de contenidos por parte
    de un usuario,&nbsp;AGG&nbsp;se reserva el derecho de cancelar el acceso a&nbsp;LOS SITIOS&nbsp;de dicho usuario,
    anular su suscripción, y/o adoptar las acciones legales que estime oportunas.&nbsp;AGG&nbsp;no se responsabiliza de
    los nombres de usuarios que afectan a personas ajenas, están protegidos por marcas registradas u otras leyes o que
    resultaren vulgares u ofensivos. 8.5.-&nbsp;LOS SITIOS&nbsp;puede facilitar enlaces, websites o servicios de otras
    compañías a través de&nbsp;LOS SITIOS, así como facilitar al usuario la descarga de softwares de terceros. El
    usuario entiende y acepta que&nbsp;LOS SITIOS&nbsp;no controlan y no es responsable de estos servicios y productos.
    8.6.- Los usuarios aceptan y reconocen que&nbsp;AGG&nbsp;no controla, ni supervisa, ni asume responsabilidad alguna
    por la calidad, seguridad, características y demás elementos de los productos y/o servicios promocionados u
    ofrecidos en LOS SITIOS que no sean los suyos propios. Asimismo, aceptan y reconocen que&nbsp;AGG&nbsp;no controla,
    ni supervisa, ni asume responsabilidad acerca de la veracidad y exactitud de la descripción efectuada por aquellos
    que promocionan u ofrecen sus productos o servicios (en adelante los "Oferentes"), ni acerca del cumplimiento de los
    requisitos legales para ofrecer y vender los productos o servicios, ni sobre la capacidad y legitimación de los
    Oferentes para promocionar, ofrecer y/o vender sus bienes o servicios. El material publicitario es propiedad de los
    solicitantes del espacio.&nbsp;AGG&nbsp;no es responsable del contenido y al respecto rigen las mismas exclusiones
    que para el material editorial.</p>&nbsp;
  <p><strong>9. RESPONSABILIDAD DEL USUARIO:</strong>&nbsp;9.1.- El usuario es responsable de todos los datos y
    manifestaciones que incluya en los formularios que envíe a&nbsp;AGG&nbsp;así como del contenido de cualquier otra
    comunicación que emita a éste. El usuario responderá de la veracidad de los datos facilitados, reservándose&nbsp;AGG&nbsp;el
    derecho a excluir de los servicios registrados a todo usuario que haya facilitado datos falsos, sin perjuicio de las
    demás acciones que procedan en derecho. 9.2.- Mediante el envío del formulario de contratación correspondiente, el
    usuario acepta las condiciones de registro y contratación aquí expuestas y se compromete a respetar el uso y las
    prohibiciones establecidas en las mismas. 9.3.- Asimismo, al enviar el formulario de contratación, el usuario se
    compromete al pago correspondiente al producto y servicio adquirido. El usuario acepta que, si sus datos de pago no
    permiten la facturación y/o cobro por parte de&nbsp;AGG, el servicio pedido no le sea otorgado o será cancelado si
    lo tuviera activo. 9.4.- Sólo podrán contratar las personas físicas mayores de 21 años, en su propio nombre y
    derecho, o en el de la persona jurídica a la que represente con poder suficiente.&nbsp;</p>
  <p><strong>10. RESPONSABILIDAD DE LOS SITIOS:</strong>&nbsp;10.1.-AGG&nbsp;se compromete a poner a disposición del
    cliente en&nbsp;LOS SITIOS&nbsp;la información necesaria relativa a los productos que ofrece y las condiciones de
    contratación. 10.2.- El usuario acepta que el acceso a&nbsp;LOS SITIOS&nbsp;y el contenido de dichos sitios es el
    existente en cada momento.&nbsp;AGG&nbsp;no aceptará reclamación alguna por los contenidos, actualizaciones o
    conexiones a&nbsp;LOS SITIOS&nbsp;10.3.-&nbsp;AGG&nbsp;hará todo lo posible por asegurar de buena fe, con todos los
    medios a su alcance, el acceso al servicio contratado por el usuario. No obstante lo anterior,&nbsp;AGG&nbsp;no se
    responsabiliza de los fallos técnicos de conexión de red que puedan provocar daños en los equipos, impedir la
    conexión o limitar total o parcialmente el acceso del usuario a&nbsp;LOS SITIOS.&nbsp;AGG&nbsp;no se
    responsabilizará de las averías que se produzcan por sus empresas suministradoras de servicio y que puedan impedir
    el acceso a&nbsp;LOS SITIOS&nbsp;y en ningún caso asegurará el reembolso del importe pagado en caso de reclamación.&nbsp;AGG&nbsp;únicamente
    responderá por aquellos daños o perjuicios que le puedan ser imputados a AGG&nbsp;a título de dolo o culpa grave. En
    dichos supuestos de responsabilidad de&nbsp;AGG, la indemnización no comprenderá el lucro cesante.&nbsp;10.4
    CONTENIDOS.&nbsp;AGG realiza los máximos esfuerzos para evitar cualquier error en los contenidos que pudieran
    aparecer en este website.&nbsp;AGG&nbsp;no garantiza, ni se responsabiliza de las consecuencias que pudieran
    derivarse de los errores en los contenidos que pudieran aparecer en este website, caso de que tenga constancia de la
    existencia de algún error, comuníquelo sin demora a&nbsp;AGG.&nbsp;10.5 AGG&nbsp;no asume responsabilidad por el
    contenido de cualquier foro o debate en el ciberespacio (chat), boletines o cualquier tipo de transmisiones, que
    estén vinculadas a este website y cooperará, si es requerida por orden judicial o por las autoridades pertinentes,
    en la identificación de las personas responsables de aquellos contenidos que violen la ley.&nbsp;10.6 la
    responsabilidad para cualquier caso de AGG tendrá la limitación de no alcanzar PÉRDIDAS DE BENEFICIOS, INGRESOS O
    VENTAS O POR PÉRDIDAS DE DATOS, O COSTES SOPORTADOS PARA OBTENER PRODUCTOS O SERVICIOS DE SUSTITUCIÓN, POR DAÑOS A
    LA PROPIEDAD, DAÑOS PERSONALES, INTERRUPCIÓN DEL NEGOCIO, PÉRDIDA DE INFORMACIÓN COMERCIAL O POR DAÑOS ESPECIALES,
    DIRECTOS, INDIRECTOS, ACCIDENTALES, ECONÓMICOS, DE COBERTURA, CRIMINALES O SUCESIVOS CAUSADOS DE CUALQUIER MODO, YA
    SEA A CAUSA DE UN CONTRATO, CONDUCTA INADECUADA INTENCIONADA, NEGLIGENCIA U OTRO HECHO QUE ESTABLEZCA LA OCURRENCIA
    DE RESPONSABILIDAD, SOPORTADOS DEBIDO A LA UTILIZACIÓN O LA INCAPACIDAD DE UTILIZACIÓN DEL SOFTWARE, INCLUSO EN EL
    CASO DE QUE EL PROVEEDOR O SUS PROVEEDORES DE LICENCIAS HAYAN SIDO NOTIFICADOS DE LA POSIBILIDAD DE DICHOS DAÑOS.
    DADO QUE DETERMINADOS PAÍSES Y DETERMINADAS LEYES NO PERMITEN LA EXCLUSIÓN DE RESPONSABILIDAD, PERO PUEDEN PERMITIR
    LA LIMITACIÓN DE RESPONSABILIDAD, LA RESPONSABILIDAD DEL PROVEEDOR, SUS EMPLEADOS O PROVEEDORES DE LICENCIAS SE
    LIMITARÁ AL PRECIÓ QUE PAGÓ POR LA LICENCIA.</p>
  <p><strong>11. RESOLUCION DEL CONTRATO:</strong>&nbsp;11.1.-&nbsp;LOS SITIOS&nbsp;se reservan el derecho a retirar de
    forma inmediata el acceso al servicio y a los contenidos de pago contratados a aquellos clientes que a criterio de&nbsp;LOS
    SITIOS&nbsp;contravengan lo dispuesto en las presentes condiciones, sin posibilidad de reembolso en caso de haberse
    efectuado el pago. Concretamente,&nbsp;LOS SITIOS&nbsp;podrá anular la contratación: a.- cuando el acceso se utilice
    con fines ilegítimos, incluyendo por tales los enumerados en este contrato y en el Reglamento general de&nbsp;LOS
    SITIOS&nbsp;b.- cuando los datos de cobro proporcionados en la contratación sean erróneos o imposibiliten la
    facturación y/o cobro del servicio contratado. c.- en caso de inutilización prolongada y continua o inadecuada de
    cualquiera de los contenidos o servicios que hubieran sido contratados, indicando en este caso al usuario,
    claramente los términos en los que aplicará dicha cancelación. d.- en caso de usos fraudulentos del producto o
    contrarios a la buena fe. 11.2.- El usuario tiene derecho a revocar la contratación de servicios o productos de&nbsp;LOS
    SITIOS&nbsp;durante el plazo de CINCO (5) días corridos, contados a partir de la fecha en que se entregue el
    producto o se celebre el contrato, lo último que ocurra, sin responsabilidad alguna. Esta facultad no puede ser
    dispensada ni renunciada. El usuario deberá comunicar fehacientemente dicha revocación a&nbsp;AGG. Adquisición de
    productos: Los gastos de devolución son por cuenta de&nbsp;AGG. Para ejercer el derecho de revocación el consumidor
    deberá poner el producto a disposición de&nbsp;AGG&nbsp;sin haberlo usado y manteniéndolo en el mismo estado en que
    lo recibió. De verificarse estas condiciones&nbsp;AGG&nbsp;restituirá al usuario los importes percibidos.</p>&nbsp;
  <p><strong>12. PROTECCION DE DATOS:</strong> VER&nbsp;Políticas de Privacidad del Sitio&nbsp;(infra)</p>
  <p><strong>13. CONTRATO:</strong>&nbsp;El documento del contrato entre el usuario y&nbsp;AGG&nbsp;está compuesto por
    las presentes condiciones de contratación, el formulario enviado por el usuario con sus datos personales y de pago,
    y los datos ubicados en&nbsp;AGG&nbsp;que completan el presente documento, prevaleciendo frente a cualquier otro
    acuerdo verbal o escrito previo o simultáneo.</p>
  <p><strong>14. LEY APLICABLE Y JURISDICCION:</strong>&nbsp;El presente contrato se interpretará y regirá conforme a la
    legislación argentina.&nbsp;AGG&nbsp;y el usuario se comprometen a intentar resolver de manera amistosa cualquier
    desacuerdo que pudiera surgir en el desarrollo del presente Contrato, previamente a acudir a la jurisdicción
    contemplada.</p>
  <p><strong>POLITICAS DE PRIVACIDAD DE LOS SITIOS.</strong> -AGG&nbsp;recoge información de sus lectores durante el
    proceso de registración. Esa información se archiva bajo extrema seguridad en nuestros servidores. Utilizamos dicha
    información:&nbsp;-para permitirnos procesar, dar validez y verificar las suscripciones. - Para ofrecer a los
    anunciantes información general (nunca individual) sobre los lectores y las tendencias de uso. -Para el desarrollo
    de nuevos productos y servicios que satisfagan las necesidades de los lectores. - Para contactarse, vía mail o
    telefónicamente, con los suscriptores a fin de relavar opiniones sobre el servicio, con motivo de la suscripción y
    para informar sobre productos y servicios. El suscriptor podrá notificar en cualquier momento su voluntad de no
    recibir información sobre productos y servicios.&nbsp;Otros hechos importantes: AGG&nbsp;mantendrá absoluta
    confidencialidad de los datos personales brindados por nuestros visitantes. Los servicios de información por correo
    electrónico que ofrecemos se realizan con el expreso consentimiento de los usuarios. Los lectores pueden editar la
    información con la que se registraron o suscribieron o cancelar el servicio en cualquier momento. Dadas las
    condiciones de seguridad que ofrece hoy Internet, debemos tener presente que siempre que divulguemos voluntariamente
    nuestra información personal online, ésta puede ser recogida y utilizada por otros. Por lo tanto, si bien ponemos
    nuestro mayor esfuerzo por proteger su información personal,&nbsp;AGG&nbsp;no será responsable por la difusión de
    los datos personales de nuestros visitantes efectuada por fuentes ajenas a ésta ni será responsable por los daños y
    perjuicios que la misma genere. Finalmente, nos reservamos el derecho de ponernos en contacto con cualquier
    suscriptor en cualquier momento por temas relacionados con la renovación de la suscripción u otros problemas o
    asuntos relacionados con la suscripción, así como por cambios en nuestro acuerdo de suscripción.</p>
  <p><strong>DISPOSICIONES VARIAS:</strong></p>
  <p>El sistema de es fácil acceso y uso. Si Ud. requiere de mayores consejos y explicaciones de uso deberá comunicarse
    con nosotros a través de los datos de contacto que figuran en webbsite.</p>
  <p>Se concede a fin de brindar la verdadera utilidad del sistema un permiso de uso primario gratuito por 30 dias
    –“termino de prueba”.</p>
  <p>Puede enviarnos sugerencias a fin de mejorar nuestro sistema y en su caso será obligatorio previo a reclamo de esta
    índole su requerimiento en cuanto uso y posibilidad de mejoras inmediatas posibles. De lo contrario no habrá
    incumplimiento alguno por parte de AGG referidas a fallas del sistema.</p>
  <p>Nuestra base de datos se encuentra protegida en Dirección Nacional de Protección de Datos Personales, Ministerio de
    Justicia y Derechos Humanos. Por lo tanto en su caso solo nos informa su voluntad de retirarse e inmediatamente AGG
    procederá conforme a su solicitud. La información utilizada de ningún modo revela identidad sino que solo sirve a
    efectos de realizar los cálculos estadísticos de los cuales el usuario se informa y beneficia. AGG garantiza que no
    transferirá los datos de base a ninguna persona.</p>

  <p>SI USTED ACEPTA SU UTILIZACIÓN DEL SOFTWARE INDICA QUE HA Leído ESTE ACUERDO, QUE LO COMPRENDE Y QUE CONSIENTE
    OBLIGARSE POR SUS DISPOSICIONES.</p>
</ion-content>
