<div class="image-container">
  <img src="{{place.img | baseUrl:'centralizador'}}"/>
  <div class="place-info-container">
    <div class="card-title">{{place.category}}</div>
    <div class="card-subtitle">{{place.title}}</div>
  </div>
</div>
<div class="info-container">
  <div class="address">
    {{place.address}}
  </div>
</div>
