near-me-card {
  .image-container {
    position: relative;
    font-size: 14px;
    color: white;
    height: 130px;
    max-height: 130px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .place-info-container {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 5px 10px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
      .card-title {
        font-size: .8em;
        font-weight: bold;
        color: color($colors, primary);
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .card-subtitle {
        font-size: 1em;
        color: #333333;
      }
    }
  }
  .info-container {
    font-size: 10px;
    padding: 10px;
    height: 40px;
    .address {
      font-weight: 200;
      color: #999999;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
