page-new-hole {
  .content {
    background-color: white;
  }
  .my-margin-bottom {
    margin-bottom: 5px;
  }
  .hole-card {
    display: flex;
    box-shadow: 0 0 5px 3px #f4f4f4;
    width: 100%;
    background-color: white;
    overflow: hidden;
    border-radius: 2px;
    font-size: 12px;
    color: #333333;
    .hole-info {
      > div {
        padding-right: 8px;
        font-weight: 200;
        > span {
          position: relative;
          top: 5px;
          font-size: 2em;
          font-weight: bold;
        }
      }
    }
    .hole-data {
      box-shadow: 0 0 8px 8px #f4f4f4;
      flex: 1;
      display: flex;
      align-items: center;
      font-size: 14px;
    }
  }
  .par-container {
    margin-top: 14px;
    .hs-container {
      height: 70px;
      font-size: 20px;
      .hs-option {
        flex: 1;
      }
    }
  }
  .disenio-container {
    margin-top: 14px;
    .hs-container {
      .hs-option {
        flex: 1;
      }
    }
  }
  .selector-title {
    font-weight: 200;
    color: #333333;
    font-size: 12px;
    padding: 8px 2px;
  }
}
