<ion-header>
  <ion-navbar color="clear">
    <ion-title>CARGAR DATOS DE HOYO</ion-title>
    <ion-buttons end>
      <button ion-button icon-only navPop>
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="hole-card my-margin-bottom">
    <div class="hole-info" padding>
      <div>HOYO<br><span>{{hole.number}}</span></div>
    </div>
    <div class="hole-data">
      <round-card [round]="roundInfo" *ngIf="roundInfo"></round-card>
    </div>
  </div>
  <div class="par-container">
    <div class="selector-title">PAR</div>
    <horizontal-spinner [options]="parTypes" [(ngModel)]="selectedPar" (click)="parClicked()"></horizontal-spinner>
  </div>
  <div class="disenio-container">
    <div class="selector-title">DISEÑO</div>
    <horizontal-spinner [options]="disenioTypes" [(ngModel)]="selectedDisenio" (click)="designClicked()"></horizontal-spinner>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="clear">
    <button ion-button strong block no-margin mode="ios" [disabled]="!isValid()" (click)="saveClicked()">
      CARGAR
    </button>
  </ion-toolbar>
</ion-footer>
