<ion-header no-border><ion-navbar color="primary" class="login-header"></ion-navbar></ion-header>

<ion-content>
  <form (submit)="loginClicked()">
    <img class="logo" margin-bottom src="assets/imgs/login-logo.png">
    <ion-list no-lines class="login-form">
      <ion-item class="gpstats-input" padding-right>
        <ion-label floating>EMAIL</ion-label>
        <ion-input name="email" type="email" [(ngModel)]="loginData.email"></ion-input>
        <ion-icon name="ios-person-outline" item-end></ion-icon>
      </ion-item>
      <ion-item class="gpstats-input" padding-right>
        <ion-label floating>CONTRASEÑA</ion-label>
        <ion-input name="pass" type="password" [(ngModel)]="loginData.password"></ion-input>
        <ion-icon name="ios-lock-outline" item-end></ion-icon>
      </ion-item>
      <button ion-item class="login-button" padding-right detail-none>
        INICIAR SESIÓN
        <ion-icon name="ios-arrow-round-forward" item-end></ion-icon>
      </button>
    </ion-list>
    <p class="forgot-password">
      <span class="light">¿Olvidaste tu contraseña?</span>
      <span class="heavy" tappable (click)="forgotPasswordClicked()"> Recuperala aquí.</span>
    </p>
  </form>
</ion-content>

<ion-footer no-border>
  <button ion-button full large no-margin color="transparentish" class="footer-button" (click)="signUpClicked()"
          text-capitalize>
    <span class="light">¿No tenés cuenta?</span> <span class="heavy">Registrate.</span>
  </button>
</ion-footer>
