page-login {
  .login-header {
    .toolbar-background {
      background-color: transparent;
    }
  }
  .content {
    background: url("../assets/imgs/login-background.png") no-repeat;
    background-size: cover;
    .scroll-content {
      display: flex;
      align-items: flex-start;
      padding: 0 30px !important;
      .logo {
        margin-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
      }
      .login-form {
        ion-item {
          &:first-of-type {
            border-radius: 4px 4px 0 0;
          }
          &:last-of-type {
            border-bottom: none;
            border-radius: 0 0 4px 4px;
          }
        }
        .input-has-value ion-label {
          margin-top: $text-input-md-margin-top !important;
        }
        .input-has-focus ion-label {
          margin-top: $text-input-md-margin-top !important;
        }
        .gpstats-input {
          border-top: 1px solid color($colors, primary);
          .item-inner {
            box-shadow: none !important;
            height: 68px;
            input {
              margin-top: 0;
            }
            ion-label {
              margin-top: 0;
            }
          }
          ion-icon {
            color: color($colors, secondary);
            font-size: 1.2em;
            line-height: 1.6em;
          }
        }
        .login-button {
          margin-top: 8px;
          border-radius: 4px;
          box-shadow: 0 0 10px -1px rgba(128, 125, 128, 1);
          .item-inner {
            height: 60px;
            color: color($colors, secondary);
            font-weight: bold;
          }
        }
      }
      .forgot-password {
        color: white;
        font-weight: 200;
        font-size: .8em;
        text-align: center;
        .light {
          font-weight: 200;
          margin-right: 2px;
        }
        .heavy {
          font-weight: bold;
          border-bottom: 1px solid;
          margin-left: 2px;
        }
      }
    }
  }
  .footer-button {
    .button-inner {
      font-size: .6em;
      .light {
        font-weight: 200;
        margin-right: 2px;
      }
      .heavy {
        font-weight: bold;
        border-bottom: 1px solid;
        margin-left: 2px;
      }
    }
  }
}
