<ion-tabs tabsPlacement="top" tabsHighlight="true" color="primary">
  <ion-tab [root]="tab1Root" tabIcon="md-home" tabsHideOnSubPages></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="icon-round" tabsHideOnSubPages></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="md-compass" tabsHideOnSubPages></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="icon-gift" tabsHideOnSubPages></ion-tab>
  <ion-tab [root]="tab5Root" tabIcon="ios-more" tabsHideOnSubPages></ion-tab>
</ion-tabs>
