round-card {
  > div {
    height: 100%;
    overflow: hidden;
    padding-top: 10px;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .more-button {
      color: #999;
      position: absolute;
      top: -5px;
      right: 5px;
    }
    .round-status-info {
      padding: 0 25px 10px 16px;
      font-weight: 200;
      font-size: .9em;
      .date {
        background-color: color($colors, primary);
        padding: 2px 5px;
        border-radius: 2px;
        color: white;
        display: inline-block;
        max-width: calc((100% - 15px) / 2);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .status {
        background-color: #F4F4F4;
        padding: 2px 5px;
        border-radius: 2px;
        color: #CCCCCC;
        display: inline-block;
        max-width: calc((100% - 15px) / 2);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .round-course-container {
      display: flex;
      justify-content: space-between;
      font-size: .8em;
      padding-bottom: 10px;
      .round-course-info {
        padding-left: 2px;
        .name {
          font-size: 1.2em;
          font-weight: bold;
          color: #333;
        }
        .level-course {
          font-weight: 200;
          color: #999;
          text-transform: uppercase;
          .git-icon {
            color: #CCCCCC;
            font-size: .9em;
          }
          .arrow-icon {
            color: #CCCCCC;
            margin-left: 5px;
            font-size: 1.4em;
            vertical-align: text-bottom;
          }
        }
      }
      .buttons-container {
        display: flex;
        align-items: center;
        > button {
          margin-top: 0;
          margin-bottom: 0;
          color: #999999;
        }
      }
    }
    .round-details {
      background-color: #f9f9f9;
      .detail-label {
        font-size: .7em;
        font-weight: 200;
        color: #999999;
        white-space: pre-line;
        align-self: flex-end;
      }
      .detail-data {
        color: #333333;
        white-space: pre-line;
        align-self: flex-start;
      }
    }
  }
}
