<div *ngIf="finishLoading">
  <button ion-button icon-only clear small class="more-button" *ngIf="showHeader" (click)="moreClicked.emit()">
    <ion-icon name="md-more"></ion-icon>
  </button>
  <div class="round-status-info" *ngIf="showHeader">
    <span class="date">{{round.performed_at | date:"d MMM yyyy" | uppercase}}</span>
    <span class="status" [hidden]="round.is_completed_locally && round.is_completed">
      {{(round.is_completed_locally ? 'subiendo' : 'incompleta') | uppercase}}
    </span>
  </div>
  <div class="round-course-container" padding-horizontal>
    <div class="round-course-info" tappable (click)="contentClicked.emit()">
      <div class="name">
        {{round.field.sport_club_name}}
      </div>
      <div class="level-course">
        <ion-icon name="md-git-merge" class="git-icon"></ion-icon>
        {{round.field.route}}
        <ion-icon name="md-arrow-dropright" class="arrow-icon"></ion-icon>
        {{round.field.start_point}}
      </div>
    </div>
    <div class="buttons-container">
      <button ion-button icon-only small clear *ngIf="expandable" (click)="expandClicked()">
        <ion-icon [name]="expanded ? 'ios-arrow-up-outline' : 'ios-arrow-down-outline'"></ion-icon>
      </button>
      <button ion-button icon-only small clear *ngIf="showMore" (click)="moreClicked.emit()"
              [disabled]="round.is_completed_locally">
        <ion-icon name="ios-more" [hidden]="round.is_completed_locally"></ion-icon>
      </button>
    </div>
  </div>
  <div class="round-details" [hidden]="!expanded" padding tappable (click)="contentClicked.emit()">
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-6 class="detail-label">TIPO</ion-col>
        <ion-col col-6 class="detail-label">MOVIMIENTOS TOPOGRÁFICOS</ion-col>
      </ion-row>
      <ion-row margin-bottom>
        <ion-col col-6 class="detail-data">{{getTypesByValue(round.field.type).title}}</ion-col>
        <ion-col col-6 class="detail-data">{{getMovementByValue(round.field.topographic_movements).title}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 class="detail-label">RECORRIDO</ion-col>
        <ion-col col-6 class="detail-label">SITIO DE SALIDA</ion-col>
      </ion-row>
      <ion-row margin-bottom>
        <ion-col col-6 class="detail-data">{{round.field.route}}</ion-col>
        <ion-col col-6 class="detail-data">{{round.field.start_point}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 class="detail-label">PAR</ion-col>
        <ion-col col-6 class="detail-label">CANTIDAD DE HOYOS</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 class="detail-data">{{getParOptionsByValue(round.field.par).title}}</ion-col>
        <ion-col col-6 class="detail-data">{{round.field.hole_count}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
