<ion-header>
  <ion-navbar color="clear">
    <ion-title>CARGAR JUGADA EN HOYO</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeClicked()">
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="hole-summary-container" padding-horizontal padding-bottom>
    <div class="hole-summary">
      <div class="name" padding>
        <div>HOYO<br><span>{{holeNumber}}</span></div>
      </div>
      <div class="info" padding>
        <div>
          <div class="data">{{plays.length + !showPenalties}}º</div>
          <div class="label">GOLPE</div>
        </div>
        <div>
          <div class="data">{{penalties}}</div>
          <div class="label">PENALIDADES</div>
        </div>
        <div>
          <div class="data bold">{{plays.length + penalties}}</div>
          <div class="label bold">GOLPES</div>
        </div>
      </div>
    </div>
  </div>
</ion-header>

<ion-content padding>
  <div id="play" class="cont" [hidden]="showPenalties">
    <div class="play-header" padding>
      {{(currentPlay.type == 'strike_type.first') ? 'Tiro de Salida' : (currentPlay.type == 'strike_type.putt') ? 'Putt' : 'Golpe'}}
      <button ion-button icon-only clear small (click)="deleteClicked()" [hidden]="!plays.length">
        <ion-icon name="ios-trash"></ion-icon>
      </button>
    </div>
    <div class="play-before" padding-horizontal>
      <div class="label" padding-top>ANTES DEL GOLPE...</div>
      <div class="question" *ngFor="let question of questions">
        {{question.text}}
        <div class="answer-container">
          <img *ngFor="let ans of currentPlay[question.value]" src="{{ans.img}}">
          <button ion-button icon-only clear small (click)="ask(question)">
            <ion-icon name="ios-more"></ion-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="play" padding-horizontal padding-bottom>
      <div class="label" padding-top [hidden]="!displays.clubs">PALO</div>
      <horizontal-spinner [options]="displays.clubs" textTop="true" class="clubs-select" (click)="inputClicked($event)"
                          width="80" [(ngModel)]="currentPlay.club" [hidden]="!displays.clubs"></horizontal-spinner>
      <div class="label" padding-top [hidden]="!displays.directions">VUELO DE LA PELOTA</div>
      <horizontal-spinner [options]="displays.directions" class="direction-select" (click)="inputClicked($event)"
                          [(ngModel)]="currentPlay.direction" [hidden]="!displays.directions"></horizontal-spinner>
      <div class="label" padding-top [hidden]="!displays.lieHole && !displays.lieFoot">LIE DE TIRO</div>
      <div class="label" [hidden]="!displays.lieFoot" margin-top>Pelota respecto de los pies</div>
      <horizontal-spinner [options]="displays.lieFoot" class="lie-foot-select" (click)="inputClicked($event)"
                          [(ngModel)]="currentPlay.lieFoot" [hidden]="!displays.lieFoot"></horizontal-spinner>
      <div class="label" [hidden]="!displays.lieHole">Pelota respecto del hoyo</div>
      <horizontal-spinner [options]="displays.lieHole" class="lie-hole-select" (click)="inputClicked($event)"
                          [(ngModel)]="currentPlay.lieHole" [hidden]="!displays.lieHole">
      </horizontal-spinner>
      <div class="label" padding-top [hidden]="!displays.inclinationBall && !displays.inclinationLat">
        INCLINACIÓN DEL TERRENO
      </div>
      <div class="label" [hidden]="!displays.inclinationBall">Inclinación entre la pelota y el hoyo</div>
      <horizontal-spinner [options]="displays.inclinationBall" class="lie-hole-select" (click)="inputClicked($event)"
                          [(ngModel)]="currentPlay.inclinationBall" [hidden]="!displays.inclinationBall">
      </horizontal-spinner>
      <div class="label" [hidden]="!displays.inclinationLat" margin-top>Inclinación lateral</div>
      <horizontal-spinner [options]="displays.inclinationLat" class="lie-foot-select" (click)="inputClicked($event)"
                          [(ngModel)]="currentPlay.inclinationLat" [hidden]="!displays.inclinationLat">
      </horizontal-spinner>
      <div class="label" padding-top [hidden]="!displays.distances">DISTANCIA DEL GOLPE EJECUTADO</div>
      <horizontal-spinner [options]="displays.distances" class="distance-select" (click)="inputClicked($event)"
                          [(ngModel)]="currentPlay.distance" [hidden]="!displays.distances"></horizontal-spinner>
      <div class="label" padding-top [hidden]="!displays.results">RESULTADO</div>
      <horizontal-spinner [options]="displays.results" width="80" class="result-select" (click)="resultClicked($event)"
                          [(ngModel)]="currentPlay.result" [hidden]="!displays.results"></horizontal-spinner>
      <div class="label" padding-top [hidden]="!displays.failReasons">MOTIVO DEL FALLO</div>
      <horizontal-spinner [options]="displays.failReasons" class="result-select" (click)="inputClicked($event)"
                          width="80" [(ngModel)]="currentPlay.failReason" [hidden]="!displays.failReasons">
      </horizontal-spinner>
    </div>
    <button ion-button clear full large icon-right padding-horizontal class="continue-button"
            (click)="continueButtonClicked()">
      CONTINUAR
      <ion-icon name="ios-arrow-round-forward"></ion-icon>
    </button>
  </div>
  <div id="pen" [hidden]="!showPenalties" class="cont">
    <div padding>
      Penalizaciones
    </div>
    <div class="penalties-cont">
      <ion-item no-lines padding-horizontal class="pen-select">
        <ion-label>TOTAL DE PENALIZACIONES</ion-label>
        <ion-select [(ngModel)]="penalties">
          <ion-option *ngFor="let i = index; let aux of newArray(21)" [value]="i">{{i}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item padding-horizontal class="description">
        <ion-textarea placeholder="Descripción" rows="1" elastic [(ngModel)]="penaltiesDescription"></ion-textarea>
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-footer [hidden]="!showPenalties">
  <ion-toolbar color="clear">
    <button ion-button block no-margin color="primary" mode="ios" (click)="saveClicked()">
      CARGAR
    </button>
  </ion-toolbar>
</ion-footer>
