page-play {
  .hole-summary-container {
    background-color: color($colors, clear);
    padding-top: 3px;
    .hole-summary {
      font-size: 12px;
      border-radius: 2px;
      box-shadow: 0 0 3px 2px #f4f4f4;
      display: flex;
      color: #333333;
      .name {
        flex: 0 1 0;
        box-shadow: 2px 0 3px 0 #f4f4f4;
        > div {
          padding-right: 8px;
          font-weight: 200;
          > span {
            position: relative;
            top: 5px;
            font-size: 2em;
            font-weight: bold;
          }
        }
      }
      .info {
        flex: 1.8;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        .data {
          font-size: 1.4em;
          font-weight: 200;
        }
        .label {
          font-size: .7em;
          font-weight: 200;
          color: #999999;
        }
        .bold {
          font-weight: bold;
        }
      }
    }
  }
  .content {
    background-color: white;
  }
  .cont {
    box-shadow: 0 0 3px 2px #f4f4f4;
    color: #333333;
    .label {
      font-weight: 200;
      font-size: .7em;
      margin-bottom: 8px;
      text-align: left;
    }
    .play-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        position: absolute;
        right: 10px;
        top: 10px;
        margin: 0;
      }
      ion-icon {
        color: #999999;
      }
    }
    .play-before {
      border-top: 1px solid #eeeeee;
      background-color: #f9f9f9;
      padding-bottom: 8px;
      .question {
        font-size: .8em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .answer-container {
          display: flex;
          align-items: center;
          margin-left: 15px;
          img {
            max-height: 30px;
            margin-left: -15px;
          }
          ion-icon {
            color: #999999;
          }
        }
      }
    }
    .play {
      .hs-container {
        touch-action: manipulation;
      }
      .clubs-select {
        .hs-text-container {
          font-size: 10px;
          align-self: flex-start;
          .hs-title {
            font-weight: normal;
          }
        }
      }
      .direction-select {
        .hs-option {
          justify-content: flex-start;
        }
        .hs-image {
          margin: 0;
        }
        .hs-container {
          display: flex;
        }
        .hs-text-container {
          font-size: 10px;
          .hs-title {
            font-weight: 200;
          }
        }
      }
      .lie-hole-select {
        .hs-option {
          width: calc(33% - 3px);
        }
        .hs-text-container {
          font-size: 10px;
          text-align: center;
          .hs-title {
            font-weight: 200;
          }
        }
      }
      .lie-foot-select {
        .hs-option {
          width: calc(33% - 3px);
          justify-content: flex-start;
        }
        .hs-text-container {
          font-size: 10px;
          text-align: center;
          .hs-title {
            font-weight: 200;
          }
        }
      }
      .distance-select {
        display: block;
        .hs-option {
          display: inline-block;
        }
        .hs-container {
          color: #333333;
        }
        .hs-title {
          font-size: 10px;
          font-weight: normal;
        }
      }
      .result-select {
        .hs-option {
          justify-content: flex-start;
        }
        .hs-title {
          font-size: 8px;
          font-weight: 200;
          text-align: center;
        }
      }
    }
    .continue-button {
      border-top: 1px solid #eeeeee;
      .button-inner {
        font-size: .9em;
        justify-content: space-between;
      }
    }
    .penalties-cont {
      border-top: 1px solid #eeeeee;
      padding-bottom: 8px;
      .pen-select {
        padding-top: 5px;
        .label {
          color: #333333;
        }
        .item-inner {
          padding: 0;
        }
      }
      .description {
        color: #333333;
        .text-input {
          margin-left: 0;
          margin-right: 0;
          width: 100%;
        }
        .item-inner {
          padding: 0;
        }
      }
    }
  }
}
