page-edit-profile {
  .content {
    background-color: white;
  }
  .spinner {
    width: 100%;
  }
  .profile-input {
    border: none !important;
    padding-left: 16px;
    padding-right: 16px;
    color: #333333;
    .item-inner {
      border: none !important;
      padding-right: 0 !important;
    }
    .profile-label {
      color: #333333;
      font-size: .7em;
      font-weight: 200;
    }
    .label {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 0;
      &[stacked] {
        margin-top: 8px;
        margin-bottom: 0;
      }
    }
    &.input-has-focus {
      .new-course-label {
        color: color($colors, primary);
      }
    }
    .input {
      border-bottom: 1px solid #CCCCCC;
    }
    .country-select {
      max-width: 75%;
      .select-placeholder {
        font-weight: 200;
      }
      .select-icon {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
    .tour-select {
      max-width: 75%;
      .select-placeholder {
        font-weight: 200;
      }
      .select-icon {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
    .hs-container {
      margin-top: 10px;
    }
    &.horizontal-select {
      .label {
        margin-top: 15px;
        margin-bottom: 0;
      }
      .hs-option {
        .hs-title {
          font-weight: normal;
        }
      }
    }
    .hs-text-container {
      padding: 3px;
      .hs-title {
        color: #333333;
      }
    }
    .hs-selected {
      color: color($colors, primary);
      border-color: color($colors, primary);
    }
  }
  .bottom-button {
    .toolbar-content {
      padding: 0 4px;
      .button {
        font-weight: bold;
      }
    }
  }
}
