<ion-header>
  <ion-navbar color="clear">
    <ion-title>EDITAR MI PERFIL</ion-title>
    <ion-buttons end>
      <button ion-button icon-only navPop>
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading" margin-top></ion-spinner>
  <ion-item no-padding class="profile-input">
    <ion-label class="profile-label">PAÍS DE JUEGO</ion-label>
    <ion-select placeholder="Seleccionar" class="country-select" color="secondary" [(ngModel)]="editedSettings.country"
                (ionChange)="inputChanged()">
      <ion-option *ngFor="let country of countries" [value]="country.name">{{country.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item no-padding class="profile-input horizontal-select">
    <div>
      <span class="profile-label">TIPO DE JUGADOR</span>
      <horizontal-spinner [options]="playerTypes" [(ngModel)]="editedSettings.player_condition"
                          (click)="inputChanged()"></horizontal-spinner>
    </div>
  </ion-item>
  <ion-item no-padding class="profile-input horizontal-select" *ngIf="playerTypes[this.editedSettings.player_condition]?.value == 'player.amateur'">
    <div>
      <span class="profile-label">HANDICAP</span>
      <horizontal-spinner [options]="handicapOptions" [(ngModel)]="editedSettings.handicap"
                          (click)="inputChanged()"></horizontal-spinner>
    </div>
  </ion-item>
  <ion-item no-padding class="profile-input" *ngIf="playerTypes[this.editedSettings.player_condition]?.value == 'player.professional'">
    <ion-label>
      <span class="profile-label">TOUR</span>
    </ion-label>
    <ion-select placeholder="Seleccionar" class="tour-select" color="secondary" [(ngModel)]="editedSettings.tour"
                (ionChange)="inputChanged()">
      <ion-option *ngFor="let tour of tours" [value]="tour.id">{{tour.name}}</ion-option>
    </ion-select>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar color="clear" class="bottom-button">
    <button ion-button block mode="ios" [disabled]="formStatus != 'valid'" (click)="saveClicked()">
      GUARDAR DATOS
    </button>
  </ion-toolbar>
</ion-footer>
