page-no-service {
  .content {
    background-color: white;
  }
  .toolbar-background {
    background: transparent;
  }
  .scroll-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
  }
  .icon-image {
    height: 100px;
    margin-bottom: -25px;
  }
  .no-service-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin: 5px 0;
  }
  .no-service-subtitle {
    font-size: 12px;
    font-weight: 200;
    color: #666666;
    white-space: pre-line;
  }
  .buttons-container {
    width: 100%;
    padding: 30px 30px 10px;
    > button {
      text-transform: none;
      white-space: normal;
      &:first-of-type {
        font-weight: bold;
      }
      &:last-of-type {
        font-weight: 200;
        color: #666666;
      }
    }
  }
}
