<ion-content padding>
  <img src="assets/imgs/no-disponible.png" class="icon-image"/>
  <div class="no-service-title">Servicio no encontrado</div>
  <div class="no-service-subtitle">En este momento no tenés vigente el servicio de GPStats. Contratalo ahora para
    continuar.
  </div>
  <div class="buttons-container">
    <button ion-button block mode="ios" (click)="getGpstatsClicked()">CONTRATAR GPSTATS</button>
    <button ion-button block clear small margin-top (click)="logoutClicked()">Cerrar sesión</button>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <button ion-button clear block (click)="retryClicked()">
      REINTENTAR
    </button>
  </ion-toolbar>
</ion-footer>
