page-services {
  .content {
    background-color: color($colors, clear);
    .spinner {
      width: 100%;
    }
    .services-list {
      font-size: 16px;
      .item {
        color: #333333;
      }
      .services-list-header {
        border: none;
        margin-bottom: 0;
        color: color($colors, primary);
        font-size: .8em;
        font-weight: 200;
      }
      .service-item {
        .icon {
          font-size: 1.4em;
          color: #999999;
        }
      }
    }
  }
}
