<ion-header>
  <ion-navbar color="primary">
    <ion-title align="center">SERVICIOS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" disabled>
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading" margin-top></ion-spinner>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines *ngFor="let platform of platforms" class="services-list">
    <ion-list-header class="services-list-header" margin-top>
      {{platform | uppercase}}
    </ion-list-header>
    <button ion-item *ngFor="let service of services[platform]" class="service-item" (click)="serviceClicked(service, platform)">
      {{service.name}}
      <ion-icon item-end name="md-open"></ion-icon>
    </button>
  </ion-list>
</ion-content>
