<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{edit ? 'EDITAR VUELTA' : 'AGREGAR NUEVA VUELTA'}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-padding>
    <ion-item no-padding class="new-round-input">
      <ion-label padding-left>
        <ion-icon name="md-calendar"></ion-icon>
        <span class="new-round-label">FECHA</span>
      </ion-label>
      <ion-datetime displayFormat="D MMM YYYY" text-uppercase [(ngModel)]="newRound.date" (ionChange)="inputChanged()"
                    monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic" [pickerOptions]="pickerOpts">
      </ion-datetime>
    </ion-item>
    <ion-item no-padding class="new-round-input">
      <div padding-left>
        <ion-icon name="icon-shield"></ion-icon>
        <span class="new-round-label">CANCHA</span>
        <ion-icon name="ios-search" float-right class="light"></ion-icon>
      </div>
      <div padding-left padding-top *ngIf="!field">
        <button ion-button block outline large color="secondary" class="seek-course-button"
                (click)="selectCourseClicked()">
          BUSCAR CANCHA
        </button>
      </div>
      <div *ngIf="field" class="course-container">
        <round-card [round]="{field: field}" expandable="true" showMore="true" (moreClicked)="fieldMoreClicked()">
        </round-card>
      </div>
    </ion-item>
    <ion-item no-padding class="new-round-input" tappable (click)="tourClicked()"
              *ngIf="settings.player_condition == 'player.professional'">
      <ion-label padding-left>
        <span class="new-round-label">TOUR</span>
      </ion-label>
      <ion-select placeholder="Seleccionar" class="tour-select" color="secondary" [(ngModel)]="newRound.tour"
                  (ionChange)="inputChanged()" [selectOptions]="selectOpts" disabled>
        <ion-option *ngFor="let tour of tours" [value]="tour.id">{{tour.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-padding class="new-round-input">
      <div padding-left>
        <span class="new-round-label">CONDICIONES DEL JUEGO</span>
      </div>
      <div padding-left padding-top>
        <horizontal-spinner [options]="conditions" width="100" [(ngModel)]="newRound.conditions"
                            (click)="inputChanged()"></horizontal-spinner>
      </div>
    </ion-item>
    <ion-item no-padding class="new-round-input type-select">
      <div padding-left>
        <span class="new-round-label">TIPO</span>
        <horizontal-spinner [options]="gameTypes" width="100" [(ngModel)]="newRound.type"
                            (click)="inputChanged()"></horizontal-spinner>
      </div>
    </ion-item>
    <ion-item no-padding class="new-round-input tournament-type"
              *ngIf="(newRound.type != undefined) && (gameTypes[newRound.type].value == 'round.type.tournament')">
      <div padding-left>
        <span class="new-round-label">TIPO DE TORNEO</span>
        <horizontal-spinner [options]="tournamentTypes" width="100" [(ngModel)]="newRound.tournamentType"
                            [align]="'left'" (click)="inputChanged()"></horizontal-spinner>
      </div>
    </ion-item>
    <ion-item no-padding class="new-round-input type-select"
              *ngIf="(newRound.type != undefined) && (gameTypes[newRound.type].value == 'round.type.tournament')">
      <div padding-left>
        <span class="new-round-label">VUELTA</span>
        <horizontal-spinner [options]="roundNumbers" width="50" [(ngModel)]="newRound.roundNumber"
                            (click)="inputChanged()"></horizontal-spinner>
      </div>
    </ion-item>
    <ion-item no-padding class="new-round-input type-select">
      <div padding-left>
        <span class="new-round-label">HOYOS JUGADOS</span>
        <horizontal-spinner [options]="playedHoles" width="50" [(ngModel)]="newRound.playedHoles" [disabled]="edit"
                            (click)="edit ? playedHolesClicked() : inputChanged()"></horizontal-spinner>
      </div>
    </ion-item>
    <ion-item no-padding class="new-round-input">
      <div padding-left>
        <button ion-button block large mode="ios" color="secondary" class="seek-course-button"
                [disabled]="formStatus != 'valid'" (click)="edit ? editClicked() : createClicked()">
          {{edit ? 'MODIFICAR VUELTA' : 'CREAR NUEVA VUELTA'}}
        </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
