page-new-round {
  .course-container {
    margin: 10px 2px 2px 16px;
    box-shadow: 0 0 2px 2px #f4f4f4;
  }
  .new-round-input {
    ion-icon {
      color: #CCCCCC;
      padding-right: 8px;
    }
    .light {
      color: #999;
    }
    .new-round-label {
      color: #999;
      font-size: .9em;
      vertical-align: top;
    }
    .label {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .seek-course-button {
      font-weight: bold;
      border-radius: 5px;
      border-color: #EF8112;
    }
    .datetime-text {
      font-weight: bold;
    }
    .tour-select {
      max-width: 75%;
      .select-placeholder {
        font-weight: 200;
      }
      .select-icon {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
    .hs-option {
      color: #333333;
      &.hs-selected {
        color: color($colors, secondary);
        border-color: color($colors, secondary);
      }
      .hs-text-container {
        .hs-title {
          font-weight: 200;
        }
      }
    }
    &.type-select {
      .label {
        margin-top: 10px;
        margin-bottom: 10px;
        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          horizontal-spinner {
            max-width: 80%;
          }
        }
      }
    }
    &.tournament-type {
      .hs-option {
        align-items: left;
        .hs-text-container {
          padding: 0 5px;
          .hs-title {
            font-weight: bold;
          }
          .hs-subtitle {
            font-weight: 200;
          }
        }
      }
    }
  }
}
