page-poi {
  .title {
    .toolbar-title {
      font-weight: bold;
    }
  }
  .content {
    background-color: color($colors, clear) !important;
  }
  .image-container {
    width: 100%;
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
    }
    .shadow {
      height: 100%;
      width: 100%;
      background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 75%);
      background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 75%);
      background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 75%);
      position: absolute;
      bottom: 0;
    }
  }
  .poi-content {
    text-align: center;
    font-size: 30px;
    line-height: .9em;
    .poi-category {
      color: color($colors, primary);
      font-weight: bold;
      font-size: .6em;
    }
    .poi-name {
      color: #333333;
      margin-top: 10px;
    }
    .poi-description {
      font-weight: 200;
      color: #999999;
      font-size: .5em;
      margin-top: 10px;
    }
    .poi-logo {
      width: 25%;
      object-fit: contain;
      margin-top: 10px;
    }
    .poi-address {
      font-weight: 200;
      color: #999999;
      font-size: .6em;
      margin-top: 10px;
    }
  }
  .map-container {
    position: relative;
    height: 200px;
    .map-canvas {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .shadow {
      position: absolute;
      height: 100%;
      width: 100%;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 75%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 75%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 75%);
    }
  }
  .map-placeholder {
    position: absolute;
    z-index: -1;
    width: 100%;
  }
}
