<ion-header>
  <ion-navbar color="clear">
    <ion-title align="center">PUNTOS DE INTERÉS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="clear" disabled>
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="map-container map-placeholder">
    <div id="poi-map" class="map-canvas"></div>
  </div>
  <div class="image-container">
    <img src="{{place.img | baseUrl:'centralizador'}}"/>
    <div class="shadow"></div>
  </div>
  <div padding class="poi-content">
    <div class="poi-category">{{place.category | uppercase}}</div>
    <div class="poi-name">{{place.title}}</div>
    <div class="poi-description">{{place.description}}</div>
    <img class="poi-logo" src="{{place.logo | baseUrl:'centralizador'}}">
    <div class="poi-address">{{place.address}}</div>
  </div>
  <div class="map-container">
    <div class="shadow"></div>
    <img id="map_image" src="">
  </div>
</ion-content>
