page-profile {
  .scroll-content {
    padding-top: 8px;
  }
  .spinner {
    width: 100%;
  }
  .load-profile-container {
    background-color: color($colors, clear);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 30px;
    text-align: center;
    .my-alert-image {
      height: 100px;
      object-fit: contain;
    }
    .my-alert-title {
      font-size: 24px;
      font-weight: bold;
      color: #333333;
      margin: 5px 0;
    }
    .my-alert-subtitle {
      font-size: 12px;
      font-weight: 200;
      color: #666666;
      white-space: pre-line;
    }
    .buttons-container {
      padding: 30px 30px 10px;
      > button {
        text-transform: none;
        white-space: normal;
        font-weight: bold;
      }
    }
  }
  .profile-content {
    min-height: 100%;
    background-color: color($colors, clear);
    .profile-item {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      color: #333333;
      font-size: 20px;
      .profile-label {
        font-weight: 200;
        font-size: .625em;
      }
    }
  }
  .bottom-button {
    .toolbar-content {
      padding: 0 4px;
      .button {
        font-weight: bold;
      }
    }
  }
}
