<ion-content>
  <ion-spinner *ngIf="loading" margin-top></ion-spinner>
  <div text-center class="load-profile-container" *ngIf="!loading && !settings">
    <img src="assets/imgs/iconos/perfil-pendiente.png" class="my-alert-image">
    <div class="my-alert-title">Completá tu perfil</div>
    <div class="my-alert-subtitle">Necesitamos tus datos como jugador para que puedas cargar vuelltas en GPStats.</div>
    <div class="buttons-container">
      <button ion-button mode="ios" (click)="editProfileClicked()">COMPLETAR PERFIL</button>
    </div>
  </div>
  <div class="profile-content" *ngIf="!loading && settings">
    <div class="profile-item" padding>
      <span class="profile-label">PAÍS DE JUEGO</span>
      <span>{{settings.country}}</span>
    </div>
    <div class="profile-item" padding>
      <span class="profile-label">TIPO DE JUGADOR</span>
      <span>{{playerTypes[getPlayerTypeByValue(settings.player_condition)]?.title}}</span>
    </div>
    <div class="profile-item" padding *ngIf="settings.player_condition == 'player.amateur'">
      <span class="profile-label">HANDICAP</span>
      <span>{{settings.handicap}}</span>
    </div>
    <div class="profile-item" padding *ngIf="settings.player_condition == 'player.professional'">
      <span class="profile-label">TOUR</span>
      <span>{{tours[getTourByValue(settings.tour)]?.name}}</span>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="!loading && settings">
  <ion-toolbar color="clear" class="bottom-button">
    <button ion-button block mode="ios" (click)="editProfileClicked()">
      EDITAR MI PERFIL
    </button>
  </ion-toolbar>
</ion-footer>
