page-edit-account {
  .content {
    background-color: white;
  }
  .account-input {
    color: #333333;
    .account-label {
      color: #333333;
      font-size: .7em;
      font-weight: 200;
    }
  }
  .bottom-button {
    .toolbar-content {
      padding: 0 4px;
      .button {
        font-weight: bold;
      }
    }
  }
}
