<ion-header>
  <ion-navbar color="clear">
    <ion-title>EDITAR MI CUENTA AG</ion-title>
    <ion-buttons end>
      <button ion-button icon-only navPop>
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading" margin-top></ion-spinner>
  <form [formGroup]="accountForm">
    <ion-list>
      <ion-item class="account-input">
        <ion-label class="account-label" stacked>NOMBRE DE USUARIO</ion-label>
        <ion-input type="text" placeholder="Sin datos" formControlName="username"></ion-input>
      </ion-item>
      <ion-item class="account-input">
        <ion-label class="account-label" stacked>E-MAIL</ion-label>
        <ion-input type="email" placeholder="Sin datos" formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="account-input">
        <ion-label class="account-label" stacked>PAÍS DE RESIDENCIA</ion-label>
        <ion-select formControlName="country" (ionChange)="countrySelected()">
          <ion-option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="account-input">
        <ion-label class="account-label" stacked>PROVINCIA</ion-label>
        <ion-select formControlName="state_id">
          <ion-option *ngFor="let state of states" value="{{state.id}}">{{state.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="account-input">
        <ion-label class="account-label" stacked>CIUDAD</ion-label>
        <ion-input type="text" placeholder="Sin datos" formControlName="city"></ion-input>
      </ion-item>
      <ion-item class="account-input">
        <ion-label class="account-label" stacked>NOMBRE</ion-label>
        <ion-input type="text" placeholder="Sin datos" formControlName="first_name"></ion-input>
      </ion-item>
      <ion-item class="account-input">
        <ion-label class="account-label" stacked>APELLIDO</ion-label>
        <ion-input type="text" placeholder="Sin datos" formControlName="last_name"></ion-input>
      </ion-item>
      <ion-item class="account-input">
        <ion-label class="account-label" stacked>RAZÓN SOCIAL</ion-label>
        <ion-input type="text" placeholder="Sin datos" formControlName="company_name"></ion-input>
      </ion-item>
      <ion-item class="account-input">
        <ion-label class="account-label" stacked>FECHA DE NACIMIENTO</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Sin datos" formControlName="birth_date"></ion-datetime>
      </ion-item>
      <ion-item class="account-input">
        <ion-label class="account-label" stacked>GÉNERO</ion-label>
        <ion-select formControlName="gender">
          <ion-option *ngFor="let gender of genders" value="{{gender.id}}">{{gender.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="account-input">
        <ion-label class="account-label" stacked>CELULAR</ion-label>
        <ion-input type="cel" placeholder="Sin datos" formControlName="mobile_phonenumber"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar color="clear" class="bottom-button">
    <button ion-button block mode="ios" [disabled]="!accountForm.valid" (click)="saveClicked()">
      GUARDAR DATOS
    </button>
  </ion-toolbar>
</ion-footer>
