page-benefit {
  .title {
    font-weight: bold;
  }
  .content {
    background-color: color($colors, clear);
  }
  .image-container {
    width: 100%;
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
      max-height: 250px;
    }
    .shadow {
      height: 100%;
      width: 100%;
      background-image: linear-gradient(180deg, transparent, white 90%);
      position: absolute;
      bottom: 0;
    }
  }
  .logo-container {
    width: 100%;
    text-align: center;
    img {
      width: 50%;
      object-fit: contain;
    }
  }
  .benefit-title {
    color: #333333;
    font-size: 24px;
    text-align: center;
  }
  .benefit-description {
    color: #999999;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
  }
  .bottom-button {
    .toolbar-content {
      padding: 0 4px;
      .button {
        font-weight: bold;
      }
    }
  }
}
