<ion-header no-border>
  <ion-navbar color="clear">
    <ion-title align="center">BENEFICIOS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="clear" disabled>
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="image-container">
    <img src="{{benefit.img | baseUrl:'centralizador'}}"/>
    <div class="shadow"></div>
  </div>
  <div class="logo-container">
    <img src="{{benefit.logo | baseUrl:'centralizador'}}"/>
  </div>
  <div padding margin-top>
    <div class="benefit-title">{{benefit.title}}</div>
    <div class="benefit-description" margin-top>{{benefit.description}}</div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="clear" class="bottom-button">
    <button ion-button block mode="ios" color="primary" (click)="canjearClicked()" [disabled]="benefit.used">
      {{benefit.used ? 'BENEFICIO YA CANJEADO' : 'CANJEAR'}}
    </button>
  </ion-toolbar>
</ion-footer>
