page-home {
  .home-list-item {
    margin-top: 10px;
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    .item-button {
      box-shadow: none;
      color: #333;
      font-weight: bold;
      text-transform: none;
      .button-inner {
        justify-content: flex-start;
        position: relative;
        .first-icon {
          color: color($colors, primary);
          margin-right: 8px;
        }
        .arrow-icon {
          position: absolute;
          right: 0;
          color: #999;
        }
      }
    }
    .cards-container {
      height: 80px;
      ion-spinner {
        width: 100%;
        margin-top: 26px;
      }
      .no-rounds {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        padding: 10px;
        img {
          height: 40px;
          object-fit: contain;
        }
        span {
          font-size: 12px;
          font-weight: 200;
          color: #999999;
        }
      }
      ion-slides {
        .slide-zoom {
          height: 100%;
          padding-top: 2px;
          padding-bottom: 2px;
          .round-card-container {
            box-shadow: 0 0 1px 1px #f4f4f4;
            font-size: 10px;
            margin: 2px;
          }
        }
      }
    }
    .item-bottom-button {
      box-shadow: none;
      color: #333;
      .button-inner {
        justify-content: flex-start;
        .first-icon {
          color: color($colors, secondary);
          margin-right: 8px;
        }
      }
    }
    .near-place-container {
      height: 200px;
      ion-spinner {
        width: 100%;
        margin-top: 86px;
      }
      ion-slides {
        .slide-zoom {
          height: 100%;
          padding-top: 2px;
          padding-bottom: 2px;
        }
      }
      .selected {
        border-bottom: 2px solid color($colors, primary);
      }
    }
    .benefits-container {
      height: 200px;
      ion-spinner {
        width: 100%;
        margin-top: 86px;
      }
      ion-slides {
        .slide-zoom {
          height: 100%;
          padding-top: 2px;
          padding-bottom: 2px;
        }
      }
    }
  }
  .near-me-card-container {
    width: 100%;
    text-align: left;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 0 4px -1px rgba(128, 125, 128, 1);
  }
  .benefit-card {
    width: 100%;
    height: 100%;
    text-align: left;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 4px -1px rgba(128, 125, 128, 1);
    .image-container {
      height: 50%;
      max-height: 50%;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
      }
      .shadow {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(180deg, transparent, white 90%);
        position: absolute;
      }
    }
    .logo-container {
      position: absolute;
      bottom: 0;
      height: 75%;
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        width: 40%;
        object-fit: contain;
      }
    }
  }
}
