<ion-header>
  <ion-navbar color="primary">
    <ion-title align="center" class="logo-title">
      <img src="assets/imgs/logo.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="home-list-item">
    <button ion-button full clear class="item-button" (click)="myRoundsClicked()">
      <ion-icon name="icon-round" class="first-icon"></ion-icon>
      Mis Vueltas
      <ion-icon name="ios-arrow-round-forward" class="arrow-icon"></ion-icon>
    </button>
    <div class="cards-container" *ngIf="loadingRounds">
      <ion-spinner></ion-spinner>
    </div>
    <div class="cards-container" *ngIf="!loadingRounds && !rounds.length">
      <div class="no-rounds">
        <img src="assets/imgs/iconos/vuelta-pendiente_home.png">
        <span>No hay vueltas cargadas</span>
      </div>
    </div>
    <div class="cards-container" [hidden]="!rounds.length">
      <ion-slides slidesPerView="1.6" spaceBetween="-22">
        <ion-slide padding-horizontal *ngFor="let round of rounds">
          <div class="round-card-container">
            <round-card [round]="round" tappable showHeader="true" (contentClicked)="roundClicked(round)"
                        (moreClicked)="roundCardMoreClicked(round)"></round-card>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <button ion-button full clear class="item-bottom-button" (click)="newRoundClicked()">
      <ion-icon name="md-add-circle" class="first-icon"></ion-icon>
      Cargar nueva vuelta
    </button>
  </div>
  <div class="home-list-item">
    <button ion-button full clear class="item-button" (click)="mapClicked()">
      <ion-icon name="md-compass" class="first-icon"></ion-icon>
      Mapa
      <ion-icon name="ios-arrow-round-forward" class="arrow-icon"></ion-icon>
    </button>
    <div class="near-place-container" *ngIf="loadingNearMe">
      <ion-spinner></ion-spinner>
    </div>
    <div class="near-place-container" padding-bottom [hidden]="!nearMePlaces.length">
      <ion-slides #nearMeSlides slidesPerView="1.6" spaceBetween="-22">
        <ion-slide padding-horizontal *ngFor="let i = index; let place of nearMePlaces">
          <div class="near-me-card-container" [ngClass]="(nearMeSlides.getActiveIndex() == i) ? 'selected' : ''" (click)="placeClicked(place)">
            <near-me-card [place]="place"></near-me-card>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="home-list-item">
    <button ion-button full clear class="item-button" (click)="benefitsClicked()">
      <ion-icon name="icon-gift" class="first-icon"></ion-icon>
      Beneficios
      <ion-icon name="ios-arrow-round-forward" class="arrow-icon"></ion-icon>
    </button>
    <div class="benefits-container" *ngIf="loadingBenefits">
      <ion-spinner></ion-spinner>
    </div>
    <div class="benefits-container" padding-bottom [hidden]="!benefits.length">
      <ion-slides slidesPerView="1.6" spaceBetween="-22">
        <ion-slide padding-horizontal *ngFor="let benefit of benefits">
          <div class="benefit-card" (click)="benefitClicked(benefit)">
            <div class="image-container">
              <img src="{{benefit.img | baseUrl:'centralizador'}}"/>
              <div class="shadow"></div>
            </div>
            <div class="logo-container">
              <img src="{{benefit.logo | baseUrl:'centralizador'}}"/>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
