<ion-header>
  <ion-navbar color="primary">
    <ion-title align="center">MIS DATOS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" disabled>
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-tabs tabsPlacement="top" tabsHighlight="true" color="clear" no-border class="stats-tabs">
    <ion-tab [root]="tab1Root" tabTitle="COMPARATIVAS" tabsHideOnSubPages></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="REPORTES" tabsHideOnSubPages></ion-tab>
  </ion-tabs>
</ion-content>
