page-stats {
  .stats-tabs {
    .tab-button {
      .tab-button-text {
        color: #999999;
        font-size: .7em;
      }
      &[aria-selected=true] {
        .tab-button-text {
          color: color($colors, primary);
        }
      }
    }
  }
}
