page-comparatives {
  color: #333333;
  .spinner {
    width: 100%;
  }
  .comp-card {
    ion-card-title {
      font-size: 16px;
      text-align: center;
      white-space: normal;
      .comp-title {
        font-weight: bold;
      }
      .comp-desc {
        font-weight: 200;
        font-size: .7em;
        color: #999999;
      }
    }
  }
  .circle-comp-card {
    ion-card-content {
      display: flex;
      justify-content: space-around;
    }
    .percentage-graph {
      font-weight: bold;
      tspan:last-child {
        font-weight: 200;
      }
    }
  }
  .area-comp-card {
    .area-comp-container {
      text-align: center;
      .area-comp-subtitle {
        font-size: .9em;
      }
      .area-comp-graphs {
        display: flex;
        circle-progress {
          height: 100%;
          width: 100%;
          justify-content: center;
          align-items: center;
          display: flex;
        }
        .comp-legend {
          font-weight: bold;
        }
        .comp-legend-2 {
          font-size: .7em;
        }
        .comp-legend-3 {
          font-size: .7em;
          color: #999999;
        }
      }
    }
  }
}
