<ion-header>
  <ion-navbar color="primary">
    <ion-title align="center">ESTADÍSTICAS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" disabled>
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-spinner *ngIf="loading" margin-top></ion-spinner>
  <ion-card class="comp-card circle-comp-card">
    <ion-card-header>
      <ion-card-title>
        <div class="comp-title">Precisión Tiro de Salida</div>
        <div class="comp-desc">Aciertos de los tiros de salida Par 4 y par 5.</div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-spinner *ngIf="loading" margin-top></ion-spinner>
      <circle-progress
        *ngIf="comparatives"
        [percent]="comparatives?.first_strike_precision?.results.player.x_axis"
        [radius]="width/4 - 15"
        [subtitle]="'JUGADOR'"
        class="percentage-graph"
        outerStrokeColor="#20D181"
      ></circle-progress>
      <circle-progress
        *ngIf="comparatives"
        [percent]="comparatives?.first_strike_precision?.results.general.x_axis"
        [radius]="width/4 - 15"
        [subtitle]="'GENERAL'"
        class="percentage-graph"
        outerStrokeColor="#999999"
      ></circle-progress>
    </ion-card-content>
  </ion-card>
  <ion-card class="comp-card circle-comp-card">
    <ion-card-header>
      <ion-card-title>
        <div class="comp-title">Greens en Regulación</div>
        <div class="comp-desc">Se considera al alcanzar el green con el primer golpe en par 3, el primero o segundo en par 4 y el segundo o tercero en par 5.</div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-spinner *ngIf="loading" margin-top></ion-spinner>
      <circle-progress
        *ngIf="comparatives"
        [percent]="comparatives?.green_in_regulation?.results[0].x_axis"
        [radius]="width/4 - 15"
        [subtitle]="'JUGADOR'"
        class="percentage-graph"
        outerStrokeColor="#20D181"
      ></circle-progress>
      <circle-progress
        *ngIf="comparatives"
        [percent]="comparatives?.green_in_regulation?.results[1].x_axis"
        [radius]="width/4 - 15"
        [subtitle]="'GENERAL'"
        class="percentage-graph"
        outerStrokeColor="#999999"
      ></circle-progress>
    </ion-card-content>
  </ion-card>
  <ion-card class="comp-card circle-comp-card">
    <ion-card-header>
      <ion-card-title>
        <div class="comp-title">Scrambling</div>
        <div class="comp-desc">Se considera cuando el jugador logra un score de par o menos en un hoyo, habiendo errado un green en regulación.</div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-spinner *ngIf="loading" margin-top></ion-spinner>
      <circle-progress
        *ngIf="comparatives"
        [percent]="comparatives?.scrambling?.results[0].x_axis"
        [radius]="width/4 - 15"
        [subtitle]="'JUGADOR'"
        class="percentage-graph"
        outerStrokeColor="#20D181"
      ></circle-progress>
    </ion-card-content>
  </ion-card>
  <ion-card class="comp-card area-comp-card">
    <ion-card-header>
      <ion-card-title>
        <div class="comp-title">Putts</div>
        <div class="comp-desc">Promedio de putts en vueltas completas de 18 hoyos. Se consideran únicamente los golpes ejecutados desde el green.</div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-spinner *ngIf="loading" margin-top></ion-spinner>
      <div class="area-comp-container" *ngFor="let comp of comparatives?.putts_average?.results" margin-bottom>
        <div class="area-comp-subtitle">{{comp.general_legend}}</div>
        <ion-grid class="area-comp-graphs">
          <ion-row align-items-center [style.minHeight]="((width/4 - 25) * 2) + 'px'">
            <ion-col col-6>
              <circle-progress
                [percent]="100"
                [radius]="comp.x_axis * (width/4 - 25) / (((comp.y_axis >= comp.x_axis) ? comp.y_axis : comp.x_axis) < 1 ? 1 : ((comp.y_axis >= comp.x_axis) ? comp.y_axis : comp.x_axis))"
                [showTitle]="false"
                [showSubtitle]="false"
                [showInnerStroke]="false"
                [showUnits]="false"
                backgroundColor="#20D181"
                [outerStrokeWidth]="0"
              ></circle-progress>
            </ion-col>
            <ion-col col-6>
              <circle-progress
                [percent]="100"
                [radius]="comp.y_axis * (width/4 - 25) / (((comp.y_axis >= comp.x_axis) ? comp.y_axis : comp.x_axis) < 1 ? 1 : ((comp.y_axis >= comp.x_axis) ? comp.y_axis : comp.x_axis))"
                [showTitle]="false"
                [showSubtitle]="false"
                [showInnerStroke]="false"
                [showUnits]="false"
                backgroundColor="#999999"
                [outerStrokeWidth]="0"
              ></circle-progress>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <div class="comp-legend">{{comp.x_legend?.split('/')[0]}}</div>
              <div class="comp-legend-2">{{comp.x_legend?.split('/')[1]}}</div>
              <div class="comp-legend-3">JUGADOR</div>
            </ion-col>
            <ion-col col-6>
              <div class="comp-legend">{{comp.y_legend?.split('/')[0]}}</div>
              <div class="comp-legend-2">{{comp.y_legend?.split('/')[1]}}</div>
              <div class="comp-legend-3">GENERAL</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="comp-card area-comp-card">
    <ion-card-header>
      <ion-card-title>
        <div class="comp-title">Greens de 3 putts</div>
        <div class="comp-desc">Promedio de cantidad de greens de 3 putts en vueltas de 18 hoyos. Se consideran únicamente los golpes ejecutados desde el green.</div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-spinner *ngIf="loading" margin-top></ion-spinner>
      <div class="area-comp-container" *ngFor="let comp of comparatives?.green_frequency_three_putts?.results" margin-bottom>
        <div class="area-comp-subtitle" *ngIf="comp.general_legend">{{comp.general_legend}}</div>
        <ion-grid class="area-comp-graphs">
          <ion-row align-items-center [style.minHeight]="((width/4 - 25) * 2) + 'px'">
            <ion-col col-6>
              <circle-progress
                [percent]="100"
                [radius]="comp.x_axis * (width/4 - 25) / (((comp.y_axis >= comp.x_axis) ? comp.y_axis : comp.x_axis) < 1 ? 1 : ((comp.y_axis >= comp.x_axis) ? comp.y_axis : comp.x_axis))"
                [showTitle]="false"
                [showSubtitle]="false"
                [showInnerStroke]="false"
                [showUnits]="false"
                backgroundColor="#20D181"
                [outerStrokeWidth]="0"
              ></circle-progress>
            </ion-col>
            <ion-col col-6>
              <circle-progress
                [percent]="100"
                [radius]="comp.y_axis * (width/4 - 25) / (((comp.y_axis >= comp.x_axis) ? comp.y_axis : comp.x_axis) < 1 ? 1 : ((comp.y_axis >= comp.x_axis) ? comp.y_axis : comp.x_axis))"
                [showTitle]="false"
                [showSubtitle]="false"
                [showInnerStroke]="false"
                [showUnits]="false"
                backgroundColor="#999999"
                [outerStrokeWidth]="0"
              ></circle-progress>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <div class="comp-legend">{{comp.x_legend}}</div>
              <div class="comp-legend-3">JUGADOR</div>
            </ion-col>
            <ion-col col-6>
              <div class="comp-legend">{{comp.y_legend}}</div>
              <div class="comp-legend-3">GENERAL</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="comp-card area-comp-card">
    <ion-card-header>
      <ion-card-title>
        <div class="comp-title">Greens de 1 putt</div>
        <div class="comp-desc">Promedio de cantidad de greens de 1 putt en vueltas de 18 hoyos. Se consideran únicamente los golpes ejecutados desde el green.</div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-spinner *ngIf="loading" margin-top></ion-spinner>
      <div class="area-comp-container" *ngFor="let comp of comparatives?.green_frequency_one_putt?.results" margin-bottom>
        <div class="area-comp-subtitle" *ngIf="comp.general_legend">{{comp.general_legend}}</div>
        <ion-grid class="area-comp-graphs">
          <ion-row align-items-center [style.minHeight]="((width/4 - 25) * 2) + 'px'">
            <ion-col col-6>
              <circle-progress
                [percent]="100"
                [radius]="comp.x_axis * (width/4 - 25) / (((comp.y_axis >= comp.x_axis) ? comp.y_axis : comp.x_axis) < 1 ? 1 : ((comp.y_axis >= comp.x_axis) ? comp.y_axis : comp.x_axis))"
                [showTitle]="false"
                [showSubtitle]="false"
                [showInnerStroke]="false"
                [showUnits]="false"
                backgroundColor="#20D181"
                [outerStrokeWidth]="0"
              ></circle-progress>
            </ion-col>
            <ion-col col-6>
              <circle-progress
                [percent]="100"
                [radius]="comp.y_axis * (width/4 - 25) / (((comp.y_axis >= comp.x_axis) ? comp.y_axis : comp.x_axis) < 1 ? 1 : ((comp.y_axis >= comp.x_axis) ? comp.y_axis : comp.x_axis))"
                [showTitle]="false"
                [showSubtitle]="false"
                [showInnerStroke]="false"
                [showUnits]="false"
                backgroundColor="#999999"
                [outerStrokeWidth]="0"
              ></circle-progress>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <div class="comp-legend">{{comp.x_legend}}</div>
              <div class="comp-legend-3">JUGADOR</div>
            </ion-col>
            <ion-col col-6>
              <div class="comp-legend">{{comp.y_legend}}</div>
              <div class="comp-legend-3">GENERAL</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="comp-card area-comp-card">
    <ion-card-header>
      <ion-card-title>
        <div class="comp-title">Gross</div>
        <div class="comp-desc">Promedio gross de las vueltas completadas.</div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-spinner *ngIf="loading" margin-top></ion-spinner>
      <div class="area-comp-container" *ngFor="let comp of comparatives?.gross_average?.results" margin-bottom>
        <div class="area-comp-subtitle" *ngIf="comp.general_legend">{{comp.general_legend}}</div>
        <ion-grid class="area-comp-graphs">
          <ion-row align-items-center [style.minHeight]="((width/4 - 25) * 2) + 'px'">
            <ion-col col-6>
              <circle-progress
                [percent]="100"
                [radius]="comp.x_axis * (width/4 - 25) / (((comp.y_axis >= comp.x_axis) ? comp.y_axis : comp.x_axis) < 1 ? 1 : ((comp.y_axis >= comp.x_axis) ? comp.y_axis : comp.x_axis))"
                [showTitle]="false"
                [showSubtitle]="false"
                [showInnerStroke]="false"
                [showUnits]="false"
                backgroundColor="#20D181"
                [outerStrokeWidth]="0"
              ></circle-progress>
            </ion-col>
            <ion-col col-6>
              <circle-progress
                [percent]="100"
                [radius]="comp.y_axis * (width/4 - 25) / (((comp.y_axis >= comp.x_axis) ? comp.y_axis : comp.x_axis) < 1 ? 1 : ((comp.y_axis >= comp.x_axis) ? comp.y_axis : comp.x_axis))"
                [showTitle]="false"
                [showSubtitle]="false"
                [showInnerStroke]="false"
                [showUnits]="false"
                backgroundColor="#999999"
                [outerStrokeWidth]="0"
              ></circle-progress>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <div class="comp-legend">{{comp.x_legend}}</div>
              <div class="comp-legend-3">JUGADOR</div>
            </ion-col>
            <ion-col col-6>
              <div class="comp-legend">{{comp.y_legend}}</div>
              <div class="comp-legend-3">GENERAL</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
