// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$label-md-text-color: #CCC;
$label-ios-text-color: #CCC;

$list-md-border-color: #eee;
$list-ios-border-color: #eee;

$toolbar-ios-title-font-size: 1.4rem;
$toolbar-md-title-font-size: 1.4rem;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #20D181,
  secondary: #EF8112,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  transparentish: rgba(0, 0, 0, 0.08),
  clear: (
    base: white,
    contrast: #20D181
  )
);

$item-md-thumbnail-size: 60px;
$item-ios-thumbnail-size: 60px;

$text-input-md-show-focus-highlight: false;
$text-input-ios-show-focus-highlight: false;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

$font-family-ios-base: Montserrat;
$font-family-md-base: Montserrat;
