<ion-header>
  <ion-navbar color="primary">
    <ion-title align="center" class="logo-title">
      <!--<img src="assets/imgs/logo.png"/>-->
      MIS VUELTAS
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div padding-top text-center *ngIf="loading">
    <ion-spinner></ion-spinner>
  </div>
  <div margin-top text-center class="no-round-container"
       *ngIf="!loading && !rounds.length && (refresher.state != 'refreshing')">
    <img src="assets/imgs/iconos/vuelta-pendiente_home.png" class="my-alert-image">
    <div class="my-alert-title">No hay vueltas cargadas</div>
    <div class="my-alert-subtitle">Si ya cargaste tus datos de perfil, podés comenzar a registrar tus vueltas.</div>
    <div class="buttons-container">
      <button ion-button block mode="ios" (click)="newRoundClicked()">Cargar nueva vuelta</button>
      <button ion-button block clear small margin-top (click)="completeProfileClicked()">Completar mi perfil</button>
    </div>
  </div>
  <ion-list class="rounds-list" no-lines margin-top *ngIf="rounds.length">
    <ion-item class="round-item" *ngFor="let round of rounds">
      <div class="round-status-info" tappable (click)="roundClicked(round)">
        <span class="date">{{(round.performed_at | date:"d MMM yyyy" | uppercase).replace('.', '')}}</span>
        <span class="status" [hidden]="round.is_completed_locally && round.is_completed">
          {{(round.is_completed_locally ? 'subiendo' : 'incompleta') | uppercase}}
        </span>
      </div>
      <ion-grid no-padding class="margin-top-small" tappable (click)="roundClicked(round)">
        <ion-row align-items-end>
          <ion-col col-8>
            <div class="round-course-info">
              <div class="name">
                {{round.field.sport_club_name}}
              </div>
              <div class="level-course">
                <ion-icon name="md-git-merge" class="git-icon"></ion-icon>
                {{round.field.route}}
                <ion-icon name="md-arrow-dropright" class="arrow-icon"></ion-icon>
                {{round.field.start_point}}
              </div>
            </div>
          </ion-col>
          <ion-col col-2 text-right>
            <div text-left class="holes">
              <div>{{round.tournament_type || round.played_holes}}</div>
              <div>HOYOS</div>
            </div>
          </ion-col>
          <ion-col col-2 text-right *ngIf="round.round_type == 'round.type.tournament'">
            <div text-left class="round-n">
              <div>{{round.round_number | ordinal}}</div>
              <div>VUELTA</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <button ion-button clear small icon-only item-end class="more-button" (click)="roundOptionsClicked(round)">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer [hidden]="!loading && !rounds.length && (refresher.state != 'refreshing')">
  <ion-toolbar>
    <button ion-button block no-margin color="secondary" (click)="newRoundClicked()">
      CARGAR NUEVA VUELTA
    </button>
  </ion-toolbar>
</ion-footer>
