page-rounds {
  ion-footer {
    .toolbar {
      padding: 10px;
    }
  }
  .margin-top-small {
    margin-top: 5px;
  }
  .rounds-list {
    .round-item {
      margin-top: 5px;
      font-size: 10px;
      .more-button {
        color: #999;
        align-self: baseline;
      }
      .round-status-info {
        padding-right: 15px;
        font-weight: 200;
        .date {
          background-color: color($colors, primary);
          padding: 2px 5px;
          border-radius: 2px;
          color: white;
          display: inline-block;
          max-width: calc((100% - 15px) / 2);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .status {
          background-color: #F4F4F4;
          padding: 2px 5px;
          border-radius: 2px;
          color: #CCCCCC;
          display: inline-block;
          max-width: calc((100% - 15px) / 2);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .round-course-info {
        padding-left: 2px;
        .name {
          font-weight: bold;
          color: #333;
        }
        .level-course {
          font-weight: 200;
          color: #999;
          text-transform: uppercase;
          .git-icon {
            color: #CCCCCC;
            font-size: .9em;
          }
          .arrow-icon {
            color: #CCCCCC;
            margin-left: 5px;
            font-size: 1.4em;
            vertical-align: text-bottom;
          }
        }
      }
      .holes {
        display: inline-block;
        :first-child {
          font-weight: bold;
          color: #333;
          font-size: 1.4em;
        }
        :last-child {
          font-weight: 200;
          color: #999;
        }
      }
      .round-n {
        display: inline-block;
        :first-child {
          font-weight: bold;
          color: #333;
          font-size: 1.4em;
        }
        :last-child {
          font-weight: 200;
          color: #999;
        }
      }
    }
  }
  .no-round-container {
    background-color: white;
    width: 100%;
    height: 100%;
    align-self: center;
    padding: 30px;
    text-align: center;
    .my-alert-image {
      height: 80px;
    }
    .my-alert-title {
      font-size: 24px;
      font-weight: bold;
      color: #333333;
      margin: 5px 0;
    }
    .my-alert-subtitle {
      font-size: 12px;
      font-weight: 200;
      color: #666666;
      white-space: pre-line;
    }
    .buttons-container {
      padding: 30px 30px 10px;
      > button {
        text-transform: none;
        white-space: normal;
        &:first-of-type {
          font-weight: bold;
        }
        &:last-of-type {
          font-weight: 200;
          color: #666666;
        }
      }
    }
  }
}
