page-round {
  .icon-button {
    color: #999999;
  }
  .datetime {
    color: #333333;
    padding-left: 0;
  }
  .my-margin-bottom {
    margin-bottom: 5px;
  }
  .label-text {
    font-size: .8em;
    white-space: normal;
  }
  .buttons-top {
    align-self: flex-start;
  }
  .no-margin-in-item {
    .label {
      margin-top: 0;
    }
  }
  .round-info {
    .grid {
      > .row {
        > .col {
          padding: 0 2px;
        }
      }
    }
    .label-item {
      font-size: 10px;
      color: #999999;
      font-weight: 200;
      white-space: normal;
    }
    .data-item {
      font-size: 14px;
      color: #333333;
      white-space: normal;
    }
    .align-bottom {
      align-self: flex-end;
    }
    .align-top {
      align-self: flex-start;
    }
    .bold {
      font-weight: bold;
    }
    .round-card-container {
      box-shadow: 0 0 1px 1px #f4f4f4;
      font-size: 12px;
      margin: 16px 2px 2px;
    }
  }
  .initial-state {
    white-space: normal;
    ion-avatar {
      display: inline-block;
      margin-right: 5px;
    }
  }
  .holes-card-item {
    .item-inner {
      padding-right: 0 !important;
      .label {
        margin-top: 0;
        margin-right: 0;
      }
    }
  }
  .summary-grid {
    font-size: 10px;
    color: #333333;
    .row {
      &:first-of-type {
        border-top: 1px solid #eeeeee;
      }
      border-bottom: 1px solid #eeeeee;
    }
    .col {
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #eeeeee;
      &:first-of-type {
        border-left: 1px solid #eeeeee;
      }
    }
    .with-background {
      background-color: #F4F4F4;
    }
    .title-col {
      flex: 1.7;
    }
    .small-text {
      font-size: .7em;
      font-weight: 200;
    }
  }
  .hole-card {
    white-space: normal;
    display: flex;
    box-shadow: 0 0 4px -1px rgba(128, 125, 128, 1);
    width: 100%;
    background-color: white;
    overflow: hidden;
    height: 120px;
    margin: 2px;
    border-radius: 2px;
    font-size: 12px;
    color: #333333;
    .hole-info {
      flex: 1;
      border-right: 1px solid #eeeeee;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      text-align: left;
      > div {
        padding: 8px;
        font-weight: 200;
        > span {
          position: relative;
          top: 5px;
          font-size: 2em;
          font-weight: bold;
        }
      }
    }
    .hole-data {
      flex: 3;
      display: flex;
      flex-direction: column;
      > div {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .no-data {
        flex-direction: column;
        img {
          max-height: 60px;
          object-fit: cover;
        }
        font-size: 9px;
        font-weight: 200;
        color: #999999;
      }
      .data {
        flex-direction: row;
        padding: 0 20px;
        position: relative;
        .par {
          flex: 1;
          text-align: center;
          .par-title {
            font-size: 10px;
            font-weight: 200;
            color: #999999;
            margin-bottom: 5px;
          }
          .par-cont {
            font-size: 14px;
            font-weight: bold;
            color: #333333;
          }
        }
        img {
          flex: 1;
          object-fit: contain;
          max-height: 60px;
          height: 80%;
        }
        .shadow {
          position: absolute;
          bottom: -10px;
          height: 10px;
          width: 100%;
          > div {
            position: absolute;
            width: 100%;
            height: 10px;
            &:first-of-type {
              opacity: .05;
              background: linear-gradient(0, rgba(255,255,255,0), black);
            }
            &:last-of-type {
              background: radial-gradient(circle at 50%, rgba(255,255,255,0), white);
            }
          }
        }
      }
      .hole-summary {
        .info {
          flex: 1.8;
          display: flex;
          align-items: center;
          justify-content: space-around;
          text-align: center;
          .data {
            font-size: 1.4em;
            font-weight: bold;
          }
          .label {
            font-size: .7em;
            font-weight: 200;
            color: #999999;
          }
        }
      }
    }
  }
  .final-state {
    color: #999999 !important;
    text-align: center;
  }
}
