<ion-header>
  <ion-navbar color="primary" #round id="round">
    <ion-title text-center>VUELTA</ion-title>
    <ion-buttons end>
      <button ion-button small icon-only (click)="roundMoreClicked()">
        <ion-icon name="ios-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item [ngClass]="showRoundInfo ? '' : 'my-margin-bottom'">
      <ion-label text-capitalize>{{((roundInfo?.performed_at | date) || '').replace('.', '')}}</ion-label>
      <ion-buttons item-end>
        <button ion-button clear small icon-only class="icon-button" (click)="viewRoundInfoClicked()">
          <ion-icon [name]="showRoundInfo ? 'ios-arrow-up-outline' : 'ios-arrow-down-outline'"></ion-icon>
        </button>
        <button ion-button clear small icon-only class="icon-button" (click)="roundInfoMoreClicked()"
                [hidden]="roundInfo?.is_completed_locally">
          <ion-icon name="ios-more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>
    <ion-item class="my-margin-bottom no-margin-in-item round-info" [hidden]="!showRoundInfo">
      <ion-grid no-padding class="my-margin-bottom">
        <ion-row>
          <ion-col col-6 class="label-item align-bottom">
            CONDICIONES DEL JUEGO
          </ion-col>
          <ion-col col-3 class="label-item align-bottom">
            TIPO DE JUEGO
          </ion-col>
          <ion-col col-3 class="label-item align-bottom">
            HOYOS JUGADOS
          </ion-col>
        </ion-row>
        <ion-row class="my-margin-bottom">
          <ion-col col-6 class="data-item align-top">
            <ion-icon [name]="getGameConditionsByValue(roundInfo.game_condition).displayIcon"
                      color="primary"></ion-icon>
            {{getGameConditionsByValue(roundInfo.game_condition).title}}
          </ion-col>
          <ion-col col-3 class="data-item align-top">
            {{getGameTypesByValue(roundInfo.round_type).title}}
          </ion-col>
          <ion-col col-3 class="data-item align-top">
            {{roundInfo.played_holes}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 class="label-item align-bottom">
            {{roundInfo?.player_condition == 'player.professional' ? 'TOUR' : 'HANDICAP'}}
          </ion-col>
          <ion-col col-3 class="data-item align-bottom bold">
            {{roundInfo?.tournament_type || roundInfo.played_holes}}
          </ion-col>
          <ion-col col-3 class="data-item align-bottom bold">
            {{roundInfo?.round_number | ordinal}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 class="data-item align-top">
            {{roundInfo?.player_condition == 'player.professional' ? getTourById(roundInfo?.tour).name : roundInfo?.handicap}}
          </ion-col>
          <ion-col col-3 class="label-item align-top">
            Hoyos
          </ion-col>
          <ion-col col-3 class="label-item align-top">
            Vuelta
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="round-card-container">
        <round-card [round]="roundInfo" expandable="true" *ngIf="roundInfo"></round-card>
      </div>
    </ion-item>
    <ion-item class="my-margin-bottom">
      <ion-thumbnail item-start tappable (click)="loadInitialStateClicked()" *ngIf="!initialState">
        <img src="assets/imgs/iconos/estado-pendiente.png">
      </ion-thumbnail>
      <div ion-text color="primary" class="label-text" tappable (click)="loadInitialStateClicked()"
           *ngIf="!initialState">
        CARGAR ESTADO INICIAL
      </div>
      <div *ngIf="!!initialState" class="initial-state">
        <ion-avatar *ngFor="let question of initialStateQuestions">
          <img src="{{initialState[question.value] ? question['img-selected'] : question['img-not-selected']}}">
        </ion-avatar>
      </div>
      <ion-buttons item-end class="buttons-top">
        <button ion-button clear small icon-only class="icon-button" (click)="initialStateMoreClicked()"
                [disabled]="roundInfo?.is_completed_locally">
          <ion-icon name="ios-more" [hidden]="roundInfo?.is_completed_locally"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      Hoyos
      <ion-buttons item-end class="buttons-top">
        <button ion-button clear small icon-only class="icon-button" disabled>
          <ion-icon name="ios-more" hidden></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>
    <ion-item class="no-margin-in-item">
      <ion-slides #summarySlides spaceBetween="10">
        <ion-slide *ngFor="let card of summaryCards">
          <ion-grid no-padding class="summary-grid">
            <ion-row class="with-background" align-items-center>
              <ion-col class="title-col"></ion-col>
              <ion-col>1</ion-col>
              <ion-col>2</ion-col>
              <ion-col>3</ion-col>
              <ion-col>4</ion-col>
              <ion-col>5</ion-col>
              <ion-col>6</ion-col>
              <ion-col>7</ion-col>
              <ion-col>8</ion-col>
              <ion-col>9</ion-col>
              <ion-col class="title-col small-text">IDA</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="with-background title-col small-text">PAR</ion-col>
              <ion-col>{{card.holes[0].par}}</ion-col>
              <ion-col>{{card.holes[1].par}}</ion-col>
              <ion-col>{{card.holes[2].par}}</ion-col>
              <ion-col>{{card.holes[3].par}}</ion-col>
              <ion-col>{{card.holes[4].par}}</ion-col>
              <ion-col>{{card.holes[5].par}}</ion-col>
              <ion-col>{{card.holes[6].par}}</ion-col>
              <ion-col>{{card.holes[7].par}}</ion-col>
              <ion-col>{{card.holes[8].par}}</ion-col>
              <ion-col class="title-col">{{card.ida.par}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="with-background title-col small-text">TOTAL</ion-col>
              <ion-col>{{(card.holes[0].plays && card.holes[0].plays.length) ? card.holes[0].plays?.length +
                card.holes[0].penalties : ''}}
              </ion-col>
              <ion-col>{{(card.holes[1].plays && card.holes[1].plays.length) ? card.holes[1].plays?.length +
                card.holes[1].penalties : ''}}
              </ion-col>
              <ion-col>{{(card.holes[2].plays && card.holes[2].plays.length) ? card.holes[2].plays?.length +
                card.holes[2].penalties : ''}}
              </ion-col>
              <ion-col>{{(card.holes[3].plays && card.holes[3].plays.length) ? card.holes[3].plays?.length +
                card.holes[3].penalties : ''}}
              </ion-col>
              <ion-col>{{(card.holes[4].plays && card.holes[4].plays.length) ? card.holes[4].plays?.length +
                card.holes[4].penalties : ''}}
              </ion-col>
              <ion-col>{{(card.holes[5].plays && card.holes[5].plays.length) ? card.holes[5].plays?.length +
                card.holes[5].penalties : ''}}
              </ion-col>
              <ion-col>{{(card.holes[6].plays && card.holes[6].plays.length) ? card.holes[6].plays?.length +
                card.holes[6].penalties : ''}}
              </ion-col>
              <ion-col>{{(card.holes[7].plays && card.holes[7].plays.length) ? card.holes[7].plays?.length +
                card.holes[7].penalties : ''}}
              </ion-col>
              <ion-col>{{(card.holes[8].plays && card.holes[8].plays.length) ? card.holes[8].plays?.length +
                card.holes[8].penalties : ''}}
              </ion-col>
              <ion-col class="title-col">{{card.ida.total}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-item>
    <ion-item no-padding class="my-margin-bottom holes-card-item">
      <ion-slides #holesSlides slidesPerView="1.2" spaceBetween="-22" (ionSlideDidChange)="holeSlideChanged()">
        <ion-slide padding-horizontal *ngFor="let i = index; let hole of holes">
          <div class="hole-card">
            <div class="hole-info">
              <div>HOYO<br><span>{{i + 1}}</span></div>
              <button ion-button icon-only clear small class="icon-button" (click)="holeMoreClicked(i)"
                      [hidden]="roundInfo?.is_completed_locally">
                <ion-icon name="ios-more"></ion-icon>
              </button>
            </div>
            <div class="hole-data">
              <div class="no-data" *ngIf="!hole.par">
                <img src="assets/imgs/iconos/hoyo-pendiente.png">
                <span>No hay datos del hoyo.</span>
              </div>
              <div class="data" *ngIf="hole.par">
                <div class="par">
                  <div class="par-title">PAR</div>
                  <div class="par-cont">{{hole.par}}</div>
                </div>
                <img src="{{getHoleDesignsByValue(hole.design).img}}">
                <div class="shadow">
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div ion-text color="primary" (click)="hole.par ? loadHolePlayClicked(i + 1) : loadHoleDataClicked(i + 1)"
                   tappable *ngIf="!hole.plays || (hole.plays.length == 0)">
                {{hole.par ? 'CARGAR JUGADA' : 'CARGAR DATOS'}}
              </div>
              <div *ngIf="hole.plays && (hole.plays.length > 0)" class="hole-summary">
                <div class="info" padding>
                  <div>
                    <div class="data">{{hole.plays.length}}</div>
                    <div class="label">GOLPES</div>
                  </div>
                  <div>
                    <div class="data">{{hole.penalties}}</div>
                    <div class="label">PEN.</div>
                  </div>
                  <div>
                    <div class="data">{{hole.plays.length + hole.penalties}}</div>
                    <div class="label">TOTAL</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-item>
    <ion-item class="my-margin-bottom" *ngIf="finalStateQuestions">
      <ion-thumbnail item-start tappable (click)="finalState?.feeling_status ? null : loadFinalStateClicked()">
        <img
          [src]="finalState?.feeling_status ? getFinalStateByValue(finalState.feeling_status).img : 'assets/imgs/iconos/estado-pendiente.png'">
      </ion-thumbnail>
      <div ion-text color="primary" class="label-text" tappable
           (click)="finalState?.feeling_status ? null : loadFinalStateClicked()"
           [ngClass]="finalState?.feeling_status ? 'final-state' : ''">
        {{(finalState?.feeling_status ? getFinalStateByValue(finalState?.feeling_status).text : 'CARGAR ESTADO FINAL') |
        uppercase}}
      </div>
      <ion-buttons item-end class="buttons-top">
        <button ion-button clear small icon-only class="icon-button" (click)="finalStateMoreClicked()"
                [disabled]="roundInfo?.is_completed_locally">
          <ion-icon name="ios-more" [hidden]="roundInfo?.is_completed_locally"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer [hidden]="!canConfirm">
  <ion-toolbar color="clear" class="bottom-button">
    <button ion-button block mode="ios" color="primary" (click)="confirmRoundClicked()">
      CONFIRMAR VUELTA
    </button>
  </ion-toolbar>
</ion-footer>
