// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: Montserrat;
  font-weight: 200;
  src: url('../assets/fonts/Montserrat-Light.otf');
}

@font-face {
  font-family: Montserrat;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat-Regular.otf');
}

@font-face {
  font-family: Montserrat;
  font-weight: bold;
  src: url('../assets/fonts/Montserrat-Bold.otf');
}

@font-face {
  font-family: icomoon;
  src: url('../assets/fonts/icomoon.ttf');
}

@mixin makeIcon($arg, $val, $font) {
  .ion-ios-#{$arg},
  .ion-ios-#{$arg}-circle,
  .ion-ios-#{$arg}-circle-outline,
  .ion-ios-#{$arg}-outline,
  .ion-md-#{$arg},
  .ion-md-#{$arg}-circle,
  .ion-md-#{$arg}-circle-outline,
  .ion-md-#{$arg}-outline {
    font-family: $font;
  }
  .ion-ios-#{$arg}:before,
  .ion-ios-#{$arg}-circle:before,
  .ion-ios-#{$arg}-circle-outline:before,
  .ion-ios-#{$arg}-outline:before,
  .ion-md-#{$arg}:before,
  .ion-md-#{$arg}-circle:before,
  .ion-md-#{$arg}-circle-outline:before,
  .ion-md-#{$arg}-outline:before {
    content: $val;
  }
}

[class^="icon-"], [class*=" icon-"], [class^="ion-ios-icon"], [class*="ion-ios-icon"], [class^="ion-md-icon"], [class*="ion-md-icon"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

@include makeIcon(icon-gift, '\e900', icomoon);
@include makeIcon(icon-filter, '\e901', icomoon);
@include makeIcon(icon-round, '\e902', icomoon);
@include makeIcon(icon-shield, '\e903', icomoon);

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.content {
  background-color: #F4F4F4;
}

.logo-title {
  height: 100px;
  img {
    max-width: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.round-action-sheet {
  ion-icon {
    color: #999;
  }
}

ion-navbar {
  .bar-buttons {
    margin-left: 6px;
    margin-right: 6px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.secondary-select {
  .alert-radio-group {
    [aria-checked=true] .alert-radio-label {
      color: color($colors, secondary);
    }
    [aria-checked=true] .alert-radio-icon {
      border-color: color($colors, secondary);
      .alert-radio-inner {
        background-color: color($colors, secondary);
      }
    }
  }
  .alert-button-group {
    .alert-button {
      .button-inner {
        color: color($colors, secondary);
      }
    }
  }
}

.secondary-picker {
  .picker-wrapper {
    .picker-button {
      color: color($colors, secondary);
    }
    .picker-opt-selected {
      color: color($colors, secondary);
    }
  }
}
