page-near-me {
  .map-canvas {
    height: 100%;
  }
  .place-container {
    background-color: color($colors, clear);
    .swiper-container {
      overflow: visible;
    }
    .near-me-card-container {
      width: 100%;
      text-align: left;
      border-radius: 2px;
      overflow: hidden;
      box-shadow: 0 0 4px -1px rgba(128, 125, 128, 1);
    }
    .selected {
      border-bottom: 2px solid color($colors, primary);
    }
  }
  .slider-footer-title {
    .toolbar-title {
      color: #333333;
    }
  }
}
