<ion-header [hidden]="slidesUp">
  <ion-navbar color="primary">
    <ion-title align="center" class="logo-title">
      <!--<img src="assets/imgs/logo.png"/>-->
      PUNTOS DE INTERÉS
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab top right>
    <button ion-fab color="primary" mini (click)="locateClicked()">
      <ion-icon name="locate"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab bottom right [hidden]="slidesUp">
    <button ion-fab color="primary" mini (click)="showFiltersClicked()">
      <ion-icon name="icon-filter"></ion-icon>
    </button>
  </ion-fab>
  <div id="map" class="map-canvas"></div>
</ion-content>

<ion-footer class="map-slider-footer" *ngIf="slidesUp">
  <ion-toolbar color="clear">
    <ion-buttons left>
      <button ion-button icon-only (click)="filtersClicked()">
        <ion-icon name="icon-filter"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="slider-footer-title">
      Puntos de Interés
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeFiltersClicked()">
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <div class="place-container" padding-bottom>
    <ion-slides #nearMeSlides slidesPerView="1.6" spaceBetween="-22" (ionSlideDidChange)="placesSlideChanged()">
      <ion-slide padding-horizontal *ngFor="let i = index; let place of nearMePlaces">
        <div class="near-me-card-container" [ngClass]="(nearMeSlides.getActiveIndex() == i) ? 'selected' : ''"
             (click)="placeClicked(place)">
          <near-me-card [place]="place"></near-me-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-footer>
