<ion-content>
  <ion-slides slidesPerView="1.1" spaceBetween="-16">
    <ion-slide padding-horizontal class="state-slide" *ngFor="let i = index; let question of questions">
      <div class="container">
        <div class="image-container">
          <img src="{{question.img}}">
        </div>
        <div class="question-container">
          <div class="question">
            {{question.question}}
          </div>
          <div class="buttons-container">
            <div class="no" tappable (click)="noClicked(i)">
              <ion-icon name="md-close"></ion-icon>
            </div>
            <div class="yes" tappable (click)="yesClicked(i)">
              <ion-icon name="md-checkmark-circle-outline"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
