page-load-initial-state {
  .content {
    background-color: rgba(0, 0, 0, .5);
    .scroll-content {
      display: flex;
    }
  }
  .state-slide {
    height: 300px;
    align-self: center;
    .slide-zoom {
      height: 100%;
    }
    .container {
      background-color: white;
      height: 100%;
      border-radius: 8px;
      overflow: hidden;
      .image-container {
        height: 50%;
        background-color: color($colors, primary);
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 80%;
          max-width: 50%;
          object-fit: contain;
        }
      }
      .question-container {
        height: 50%;
        .question {
          height: 60%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #666666;
          font-weight: 200;
          font-size: 12px;
          padding: 10px;
        }
        .buttons-container {
          height: 40%;
          border-top: 1px solid #eeeeee;
          display: flex;
          flex-direction: row;
          > div {
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .no {
            color: #CCCCCC;
            border-right: 1px solid #eeeeee;
          }
          .yes {
            color: color($colors, primary);
          }
        }
      }
    }
  }
}
