page-alert {
  .content {
    background-color: rgba(0, 0, 0, .5);
    .scroll-content {
      display: flex;
    }
  }
  .container {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    height: fit-content;
    align-self: center;
    padding: 30px;
    text-align: center;
    .my-alert-image {
      height: 80px;
    }
    .my-alert-title {
      font-size: 24px;
      font-weight: bold;
      color: #333333;
      margin: 5px 0;
    }
    .my-alert-subtitle {
      font-size: 12px;
      font-weight: 200;
      color: #666666;
      white-space: pre-line;
    }
    .buttons-container {
      padding: 30px 30px 10px;
      > button {
        text-transform: none;
        white-space: normal;
        &:first-of-type {
          font-weight: bold;
        }
        &:last-of-type {
          font-weight: 200;
          color: #666666;
        }
      }
    }
  }
}
