<ion-content padding>
  <div class="container">
    <img src="{{image}}" class="my-alert-image">
    <div class="my-alert-title">{{title}}</div>
    <div class="my-alert-subtitle">{{subtitle}}</div>
    <div class="buttons-container">
      <button ion-button block mode="ios" (click)="okButtonClicked()">{{okButton}}</button>
      <button ion-button block clear small margin-top (click)="cancelButtonClicked()">{{cancelButton}}</button>
    </div>
  </div>
</ion-content>
