page-select {
  .content {
    background-color: color($colors, clear);
  }
  .select-header {
    border: none;
    margin-top: 16px;
    color: color($colors, primary);
    font-size: .8em;
    font-weight: 200;
  }
  .select-item {
    color: #333333;
    .checkbox-icon {
      &.checkbox-checked {
        border-color: color($colors, primary);
      }
      border-color: #DDDDDD;
    }
  }
}
