<ion-header>
  <ion-navbar color="clear">
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeClicked()">
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-list-header no-margin class="select-header">
      {{subtitle}}
    </ion-list-header>
    <ion-item *ngFor="let item of items" class="select-item">
      <ion-label>{{item.title}}</ion-label>
      <ion-checkbox item-end [(ngModel)]="item.selected"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="clear">
    <button ion-button block no-margin color="primary" mode="ios" (click)="saveClicked()">
      APLICAR
    </button>
  </ion-toolbar>
</ion-footer>
