<ion-content>
  <ion-list no-margin [class.not-selected]="!!selected.length">
    <button ion-item *ngFor="let i = index; let op of options" class="option" [class.selected]="selected.indexOf(i) > -1" (click)="optionClicked(i)">
      {{op.text}}
      <img src="{{op.img}}" item-end>
    </button>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-item class="ok-button" (click)="okClicked()">Listo</button>
</ion-footer>
