page-options {
  .option {
    font-size: 14px;
    .item-inner {
      img {
        max-height: 30px;
      }
    }
  }
  .ok-button {
    text-align: right;
    color: color($colors, primary);
  }
  .not-selected {
    .option {
      opacity: .5;
    }
  }
  .selected.option {
    opacity: 1;
  }
}
