page-my-data {
  .my-data-tabs {
    .tab-button {
      .tab-button-text {
        color: #999999;
      }
      &[aria-selected=true] {
        .tab-button-text {
          color: color($colors, primary);
        }
      }
    }
  }
}
