<ion-content>
  <ion-spinner *ngIf="loading" margin-top></ion-spinner>
  <div class="account-content" *ngIf="!loading && accountInfo">
    <div class="account-item" padding>
      <span class="account-label">NOMBRE DE USUARIO</span>
      <span>{{accountInfo.username || 'Sin datos'}}</span>
    </div>
    <div class="account-item" padding>
      <span class="account-label">E-MAIL</span>
      <span>{{accountInfo.email || 'Sin datos'}}</span>
    </div>
    <div class="account-item" padding>
      <span class="account-label">PAÍS DE RESIDENCIA</span>
      <span [class]="getCountryById(accountInfo.country) ? '' : 'no-data'">{{getCountryById(accountInfo.country).name || 'Sin datos'}}</span>
    </div>
    <div class="account-item" padding>
      <span class="account-label">PROVINCIA</span>
      <span [class]="getStateById(accountInfo.state_id) ? '' : 'no-data'">{{getStateById(accountInfo.state_id).name || 'Sin datos'}}</span>
    </div>
    <div class="account-item" padding>
      <span class="account-label">CIUDAD</span>
      <span [class]="accountInfo.city ? '' : 'no-data'">{{accountInfo.city || 'Sin datos'}}</span>
    </div>
    <div class="account-item" padding>
      <span class="account-label">NOMBRE</span>
      <span [class]="accountInfo.first_name ? '' : 'no-data'">{{accountInfo.first_name || 'Sin datos'}}</span>
    </div>
    <div class="account-item" padding>
      <span class="account-label">APELLIDO</span>
      <span [class]="accountInfo.last_name ? '' : 'no-data'">{{accountInfo.last_name || 'Sin datos'}}</span>
    </div>
    <div class="account-item" padding>
      <span class="account-label">RAZÓN SOCIAL</span>
      <span [class]="accountInfo.company_name ? '' : 'no-data'">{{accountInfo.company_name || 'Sin datos'}}</span>
    </div>
    <div class="account-item" padding>
      <span class="account-label">FECHA DE NACIMIENTO</span>
      <span [class]="accountInfo.birth_date ? '' : 'no-data'">{{(accountInfo.birth_date | date:'d/M/yyyy') || 'Sin datos'}}</span>
    </div>
    <div class="account-item" padding>
      <span class="account-label">GÉNERO</span>
      <span [class]="getGendersById(accountInfo.gender) ? '' : 'no-data'">{{getGendersById(accountInfo.gender).name || 'Sin datos'}}</span>
    </div>
    <div class="account-item" padding>
      <span class="account-label">CELULAR</span>
      <span [class]="accountInfo.mobile_phonenumber ? '' : 'no-data'">{{accountInfo.mobile_phonenumber || 'Sin datos'}}</span>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="clear" class="bottom-button">
    <button ion-button block mode="ios" (click)="editAccountClicked()">
      EDITAR MI CUENTA AG
    </button>
  </ion-toolbar>
</ion-footer>
