page-account {
  .scroll-content {
    padding-top: 8px;
  }
  .spinner {
    width: 100%;
  }
  .account-content {
    min-height: 100%;
    background-color: color($colors, clear);
    .account-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      color: #333333;
      font-size: 14px;
      > span {
        &:first-of-type {
          padding-bottom: 3px;
        }
        &:last-of-type {
          padding-top: 3px;
        }
      }
      .account-label {
        font-weight: 200;
        font-size: .714em;
      }
      .no-data {
        color: #CCCCCC;
      }
    }
  }
  .bottom-button {
    .toolbar-content {
      padding: 0 4px;
      .button {
        font-weight: bold;
      }
    }
  }
}
