page-benefits {
  .benefits-container {
    overflow: hidden;
  }
  .card-container {
    padding: 5px;
    width: 50%;
    height: 75vw;
    float: left;
    .benefit-card {
      width: 100%;
      height: 100%;
      text-align: left;
      border-radius: 2px;
      overflow: hidden;
      position: relative;
      background-color: white;
      box-shadow: 0 0 4px -1px rgba(128, 125, 128, 1);
      .image-container {
        height: 50%;
        max-height: 50%;
        position: relative;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          position: absolute;
        }
        .shadow {
          height: 100%;
          width: 100%;
          background-image: linear-gradient(180deg, transparent, white 90%);
          position: absolute;
        }
      }
      .logo-container {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        img {
          width: 50%;
          object-fit: contain;
        }
      }
      .benefit-title {
        bottom: 0;
        text-align: center;
        padding: 20px;
        position: absolute;
        color: #333333;
        font-size: 12px;
      }
    }
  }
  @media (min-width: 600px) {
    .card-container {
      width: 33.3333%;
      height: 50vw;
    }
  }
}
