<ion-header>
  <ion-navbar color="primary">
    <ion-title align="center" class="logo-title">
      <!--<img src="assets/imgs/logo.png"/>-->
      BENEFICIOS
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-top class="benefits-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div text-center *ngIf="loading">
    <ion-spinner></ion-spinner>
  </div>
  <div class="benefits-container">
    <div *ngFor="let benefit of benefits" class="card-container">
      <div class="benefit-card" tappable (click)="benefitClicked(benefit)">
        <div class="image-container">
          <img src="{{benefit.img | baseUrl:'centralizador'}}"/>
          <div class="shadow"></div>
        </div>
        <div class="logo-container">
          <img src="{{benefit.logo | baseUrl:'centralizador'}}"/>
        </div>
        <div class="benefit-title">{{benefit.title}}</div>
      </div>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
