page-courses {
  .courses-input {
    .courses-label {
      color: #999;
      font-size: .9em;
      vertical-align: top;
    }
    .label {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .country-select {
      max-width: 75%;
      .select-placeholder {
        font-weight: 200;
      }
      .select-icon {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
  .search-input {
    input {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 16px;
      padding-right: 8px;
    }
    .icon {
      color: #999999;
    }
  }
  .course-container {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 2px 2px #eeeeee;
    margin: 2px 2px 5px 2px;
    &.selected {
      border: 1px solid color($colors, secondary);
    }
  }
  .not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333333;
    text-align: center;
    img {
      object-fit: contain;
      height: 70px;
      margin-bottom: -10px;
    }
    .not-found-title {
      padding: 0 8px;
      font-weight: bold;
      font-size: 1.4em;
    }
    .not-found-description {
      padding: 4px 12px 8px;
      font-weight: 200;
      font-size: .8em;
      color: #666666;
    }
  }
  .activity-indicator {
    width: 100%;
  }
}
