<ion-header>
  <ion-navbar color="secondary">
    <ion-title>BUSCADOR DE CANCHAS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-margin>
    <ion-item no-padding class="courses-input">
      <ion-label padding-left>
        <span class="courses-label">PAÍS</span>
      </ion-label>
      <ion-select placeholder="Seleccionar" class="country-select" color="secondary" [(ngModel)]="searchCountry"
                  [selectOptions]="selectOpts">
        <ion-option *ngFor="let country of countries" [value]="country.name">{{country.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-padding class="courses-input search-input">
      <ion-input [(ngModel)]="searchName" (ionChange)="searchChanged()" placeholder="Buscar por nombre..."></ion-input>
      <ion-icon name="ios-search" item-end></ion-icon>
    </ion-item>
  </ion-list>
  <ion-spinner class="activity-indicator" [hidden]="!loading" margin-top></ion-spinner>
  <div padding>
    <div *ngFor="let i = index; let course of fields" class="course-container" [class.selected]="selected == i">
      <round-card [round]="{field: course}" expandable="true" (contentClicked)="courseClicked(i)"></round-card>
    </div>
  </div>
  <div padding-horizontal padding-bottom class="not-found-container" [hidden]="neverSearched">
    <img src="assets/imgs/iconos/cancha-pendiente.png">
    <div class="not-found-title">¿No encontrás tu cancha?</div>
    <div class="not-found-description">
      Podés cargar tu cancha a nuestro sistema.<br>
      Sólo te vamos a pedir algunos datos del campo y de cada hoyo. ¡Es fácil!
    </div>
    <button ion-button mode="ios" color="secondary" (click)="newCourseClicked()">AGREGAR CANCHA</button>
  </div>
</ion-content>
