<ion-header>
  <ion-navbar color="clear">
    <ion-title>AGREGAR NUEVA CANCHA</ion-title>
    <ion-buttons end>
      <button ion-button icon-only navPop>
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-margin>
    <ion-item no-padding class="new-course-input">
      <ion-label class="new-course-label">PAÍS</ion-label>
      <ion-select placeholder="Seleccionar" class="country-select" color="secondary" [(ngModel)]="newCourse.country"
                  (ionChange)="inputChanged()" [selectOptions]="selectOpts">
        <ion-option *ngFor="let country of countries" [value]="country.name">{{country.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="new-course-input">
      <ion-label stacked class="new-course-label">CLUB</ion-label>
      <ion-input placeholder="Nombre del club..." [(ngModel)]="newCourse.club" (ionChange)="inputChanged()"></ion-input>
    </ion-item>
    <ion-item class="new-course-input horizontal-select movements">
      <span class="new-course-label">MOVIMIENTOS TOPOGRÁFICOS</span>
      <horizontal-spinner [options]="movements" [(ngModel)]="newCourse.topography"
                          (click)="inputChanged()"></horizontal-spinner>
    </ion-item>
    <ion-item class="new-course-input horizontal-select">
      <span class="new-course-label">TIPO</span>
      <horizontal-spinner [options]="types" [(ngModel)]="newCourse.type" (click)="inputChanged()"></horizontal-spinner>
    </ion-item>
    <ion-item class="new-course-input horizontal-select">
      <span class="new-course-label">RECORRIDO</span>
      <horizontal-spinner [options]="coursesOptions" [(ngModel)]="newCourse.course"
                          (click)="inputChanged()"></horizontal-spinner>
    </ion-item>
    <ion-item class="new-course-input"
              *ngIf="(newCourse.course != undefined) && (coursesOptions[newCourse.course].value == 'Otro')">
      <ion-label stacked class="new-course-label"></ion-label>
      <ion-input placeholder="Nombre del recorrido..." [(ngModel)]="newCourse.courseName"
                 (ionChange)="inputChanged()"></ion-input>
    </ion-item>
    <ion-item class="new-course-input horizontal-select">
      <span class="new-course-label">SITIO DE SALIDA</span>
      <horizontal-spinner [options]="levels" [(ngModel)]="newCourse.level"
                          (click)="inputChanged()"></horizontal-spinner>
    </ion-item>
    <ion-item class="new-course-input"
              *ngIf="(newCourse.level != undefined) && (levels[newCourse.level].value == 'Otro')">
      <ion-label stacked class="new-course-label"></ion-label>
      <ion-input placeholder="Nombre del sitio de salida..." [(ngModel)]="newCourse.levelName"
                 (ionChange)="inputChanged()"></ion-input>
    </ion-item>
    <ion-item class="new-course-input horizontal-select">
      <span class="new-course-label">PAR</span>
      <horizontal-spinner [options]="parOptions" width="60" [(ngModel)]="newCourse.par"
                          (click)="inputChanged()"></horizontal-spinner>
    </ion-item>
    <ion-item class="new-course-input horizontal-select">
      <span class="new-course-label">CANTIDAD DE HOYOS</span>
      <horizontal-spinner [options]="holes" width="60" [(ngModel)]="newCourse.holes"
                          (click)="inputChanged()"></horizontal-spinner>
    </ion-item>
    <div class="button-container">
      <button ion-button block mode="ios" color="secondary" [disabled]="formStatus != 'valid'"
              (click)="createClicked()">CREAR CANCHA
      </button>
    </div>
  </ion-list>
</ion-content>
