page-new-course {
  .toolbar {
    .toolbar-title {
      color: color($colors, secondary);
    }
    .icon {
      color: color($colors, secondary);
    }
  }
  .content {
    background-color: white;
  }
  .new-course-input {
    border: none !important;
    padding-left: 16px;
    padding-right: 16px;
    color: #333333;
    .item-inner {
      border: none !important;
      padding-right: 0 !important;
    }
    .new-course-label {
      color: #333333;
      font-size: .7em;
      font-weight: 200;
    }
    .label {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 0;
      &[stacked] {
        margin-top: 8px;
        margin-bottom: 0;
      }
    }
    &.input-has-focus {
      .new-course-label {
        color: color($colors, secondary);
      }
    }
    .input {
      border-bottom: 1px solid #CCCCCC;
    }
    .country-select {
      max-width: 75%;
      .select-placeholder {
        font-weight: 200;
      }
      .select-icon {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
    &.horizontal-select {
      .label {
        margin-top: 15px;
        margin-bottom: 0;
      }
      &.movements {
        .hs-option {
          width: calc(33% - 3px);
          .hs-title {
            font-size: .8em;
            font-weight: normal;
          }
        }
      }
    }
    .hs-text-container {
      padding: 3px;
      .hs-title {
        color: #333333;
      }
    }
    .hs-selected {
      color: color($colors, secondary);
      border-color: color($colors, secondary);
    }
  }
  .button-container {
    margin-top: 8px;
    padding: 6px 10px;
    border-top: 1px solid #eeeeee;
  }
}
