page-menu {
  .menu-item {
    color: #333333;
    padding-top: 5px;
    padding-bottom: 5px;
    .icon {
      color: #CCCCCC;
    }
    .item-inner {
      margin-left: 10px !important;
    }
    .forward-icon {
      color: #999999;
    }
  }
  .logout-item {
    color: #999999;
    padding-top: 5px;
    padding-bottom: 5px;
    .item-inner {
      margin-left: 10px !important;
    }
  }
}
