<ion-header>
  <ion-navbar color="primary">
    <ion-title align="center" class="logo-title">
      <!--<img src="assets/imgs/logo.png"/>-->
      MÁS SECCIONES
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list margin-top no-lines>
    <button ion-item class="menu-item" (click)="statsClicked()">
      <ion-icon item-start name="md-pie"></ion-icon>
      <ion-label>
        Estadísticas
      </ion-label>
      <ion-icon item-end name="ios-arrow-round-forward" class="forward-icon"></ion-icon>
    </button>
    <button ion-item class="menu-item" (click)="serviciosClicked()">
      <ion-icon item-start name="md-clipboard"></ion-icon>
      <ion-label>
        Servicios
      </ion-label>
      <ion-icon item-end name="ios-arrow-round-forward" class="forward-icon"></ion-icon>
    </button>
    <button ion-item class="menu-item" (click)="myDataClicked()">
      <ion-icon item-start name="md-person"></ion-icon>
      <ion-label>
        Mis Datos
      </ion-label>
      <ion-icon item-end name="ios-arrow-round-forward" class="forward-icon"></ion-icon>
    </button>
    <button ion-item class="menu-item" (click)="tosClicked()">
      <ion-icon item-start name="ios-list-box-outline"></ion-icon>
      <ion-label>
        Términos y Condiciones
      </ion-label>
      <ion-icon item-end name="ios-arrow-round-forward" class="forward-icon"></ion-icon>
    </button>
  </ion-list>
  <button ion-item (click)="logoutClicked()" no-lines class="logout-item">
    <ion-icon item-start name="md-log-out"></ion-icon>
    <ion-label>
      Cerrar Sesión
    </ion-label>
    <ion-icon item-end name="ios-arrow-round-forward"></ion-icon>
  </button>
</ion-content>
